<!DOCTYPE html>
<html lang="zxx">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body class="tw-bg-milk">
    <!-- Start Preloader Area -->
    <%- include("../share/preloader.ejs") %>
    <!-- End Preloader Area -->

    <!-- Start Sign In Area -->
    <section class="sign-in-area pb-4">
      <%- include("includes/header.ejs") %>
      <div class="container">
        <%- include("../share/notice.ejs") %>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="register-form">
              <h2 class="tw-border-l-4 tw-border-red1">Forget password?</h2>

              <form method="post" action="/forget-password">
                <div class="form-group">
                  <label>Email address</label>
                  <input
                    name="email"
                    type="email"
                    class="form-control tw-border-gray-300 tw-border-2"
                    placeholder="Email address"
                    value="<%= email %>"
                  />
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="default-btn tw-bg-red2">
                  Send email
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Sign In Area -->

    <%- include("includes/footer.ejs") %>
  </body>
</html>
