<!DOCTYPE html>
<html lang="zxx">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body class="tw-bg-milk">
    <!-- Start Preloader Area -->
    <%- include("../share/preloader.ejs") %>
    <!-- End Preloader Area -->

    <!-- Start Sign In Area -->
    <section class="sign-in-area pb-4">
      <%- include("includes/header.ejs") %>
      <div class="container">
        <%- include("../share/notice.ejs") %>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="register-form">
              <h2 class="tw-border-l-4 tw-border-red1">Reset password</h2>

              <form id="myForm" method="post" action="/create-new-password">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="email" value="<%= email %>" />
                <input type="hidden" name="token" value="<%= token %>" />
                <div class="col-lg-12">
                  <div class="form-group" id="pass">
                    <label>Password</label>
                    <input
                      name="pass"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      value="<%= pass %>"
                    />
                    <div class="message"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" id="cpass">
                    <label>Confirm password</label>
                    <input
                      name="cpass"
                      type="password"
                      class="form-control"
                      placeholder="Confirm password"
                      value="<%= cpass %>"
                    />
                    <div class="message"></div>
                  </div>
                </div>

                <button
                  id="submitBtn"
                  type="button"
                  class="default-btn tw-bg-red2"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Sign In Area -->

    <%- include("includes/footer.ejs") %>
    <script
      src="/src/controllers/auth/reset-password.js"
      type="module"
    ></script>
  </body>
</html>
