<!DOCTYPE html>
<html lang="en" class="light" id="important">
  <!-- BEGIN: Head -->

  <head>
    <%- include("includes/head-assets.ejs") %>
  </head>
  <!-- END: Head -->

  <body class="py-5">
    <!-- Start Preloader Area -->
    <%- include("../share/preloader.ejs") %>
    <!-- End Preloader Area -->

    <%- include("includes/navigation.ejs") %>
    <!-- BEGIN: Content -->
    <div class="content">
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 mt-6">
          <div class="intro-y block sm:flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">Users Deposits</h2>
          </div>
          <div
            class="intro-y overflow-x-auto overflow-y-hidden mt-8 sm:mt-2 border-t-2 border-primary"
          >
            <%- include("includes/notice.ejs") %>
            <table class="table table-report sm:mt-2">
              <thead>
                <tr>
                  <th class="whitespace-nowrap pl-14">USER</th>
                  <th class="whitespace-nowrap">COIN</th>
                  <th class="whitespace-nowrap">WALLET ADDRESS</th>
                  <th class="text-center whitespace-nowrap">AMOUNT</th>
                  <th class="text-center whitespace-nowrap">STATUS</th>
                  <th class="text-center whitespace-nowrap">SETTLED</th>
                  <th class="text-center whitespace-nowrap">TRANSFERED</th>
                </tr>
              </thead>
              <tbody class="whitespace-nowrap">
                <% deposits.forEach(deposit =>{ %>
                <tr class="intro-x">
                  <td>
                    <div class="flex gap-3">
                      <div
                        class="dropdown flex items-center"
                        data-tw-placement="bottom-start"
                      >
                        <a
                          href="javascript:;"
                          class="dropdown-toggle"
                          aria-expanded="false"
                          data-tw-toggle="dropdown"
                        >
                          <i
                            data-lucide="more-vertical"
                            class="block mx-auto"
                          ></i>
                        </a>
                        <div class="dropdown-menu w-48">
                          <ul class="dropdown-content border">
                            <% if(deposit.status === 'ongoing'){ %>
                            <li>
                              <a
                                href="javascript:;"
                                class="dropdown-item approveBtn"
                                data-id="<%= deposit._id %>"
                              >
                                <i
                                  data-lucide="check-circle"
                                  class="w-4 h-4 mr-2"
                                ></i>
                                Approve</a
                              >
                            </li>
                            <li>
                              <a
                                href="javascript:;"
                                class="dropdown-item cancelBtn"
                                data-id="<%= deposit._id %>"
                              >
                                <i data-lucide="slash" class="w-4 h-4 mr-2"></i>
                                Cancel</a
                              >
                            </li>
                            <% } %>
                            <li class="text-danger">
                              <a
                                href="javascript:;"
                                class="dropdown-item deleteBtn"
                                data-id="<%= deposit._id %>"
                              >
                                <i data-lucide="trash" class="w-4 h-4 mr-2"></i>
                                Delete</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="w-10 h-10 image-fit">
                        <img
                          alt="Midone - HTML Admin Template"
                          class="tooltip rounded-full"
                          src="<%= dataFile.imageHost %>/user/icon/<%= deposit.user?.profile || 'default.png' %>"
                        />
                      </div>
                      <div>
                        <a
                          href="javascript:;"
                          class="font-medium whitespace-nowrap"
                          ><%= helpers.toTitle(deposit.user?.name || `User
                          Deleted`) %></a
                        >
                        <div
                          class="text-slate-500 text-xs whitespace-nowrap mt-0.5"
                        >
                          <%= deposit.user?.accountNumber %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td><%= helpers.toTitle(deposit.coin) %></td>
                  <td><%= deposit.wallet %></td>
                  <td class="text-center">
                    <%= helpers.dollar(deposit.amount) %>
                  </td>
                  <td>
                    <% if(deposit.status === 'complete'){ %>
                    <div class="flex items-center justify-center text-success">
                      <i data-lucide="check-circle" class="w-4 h-4 mr-2"></i>
                      Approved
                    </div>
                    <% } else if(deposit.status === 'cancelled') { %>
                    <div class="flex items-center justify-center text-danger">
                      <i data-lucide="slash" class="w-4 h-4 mr-2"></i>
                      Cancelled
                    </div>
                    <% } else { %>
                    <div class="flex items-center justify-center text-info">
                      <i data-lucide="circle" class="w-4 h-4 mr-2"></i>
                      Pending
                    </div>
                    <% } %>
                  </td>
                  <td class="text-center">
                    <%= helpers.formatDate(deposit.createdAt) %>
                  </td>
                  <td class="text-center">
                    <%= helpers.formatDate(deposit.createdAt) %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include("includes/approve-modal.ejs") %> <%-
    include("includes/cancel-modal.ejs") %> <%-
    include("includes/delete-modal.ejs") %> <%-
    include("includes/js-assets.ejs") %>
    <script src="/src/controllers/admin/deposit.js" type="module"></script>
    <script>
      $(".menu.menu_deposits").addClass("menu--active");
      $(".top-menu.menu_transactions").addClass("top-menu--active");
    </script>
  </body>
</html>
