<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body>
    <!-- Start preloader -->
    <%- include("../share/preloader.ejs") %>
    <!-- End preloader -->

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") %>

      <!--Start breadcrumb area-->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-area-bg"
          style="
            background-image: url(/home/images/backgrounds/breadcrumb-area-bg.jpg);
          "
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="inner-content">
                <div
                  class="title"
                  data-aos="fade-right"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <h2>About Us</h2>
                </div>
                <div
                  class="breadcrumb-menu"
                  data-aos="fade-left"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">About Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End breadcrumb area-->

      <!--Start Intro Style1 Area-->
      <section class="intro-style1-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="intro-style1-video-gallery">
                <div
                  class="intro-style1-video-gallery-bg"
                  style="
                    background-image: url(/home/images/resources/intro-style1-video-gallery.jpg);
                  "
                ></div>
                <div class="intro-video-gallery-style1">
                  <div
                    class="icon wow zoomIn animated"
                    data-wow-delay="300ms"
                    data-wow-duration="1500ms"
                  >
                    <a
                      class="video-popup"
                      title="Video Gallery"
                      href="https://www.youtube.com/watch?v="
                    >
                      <span class="icon-play-button-1"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="intro-style1-content-box">
                <div class="sec-title">
                  <h2>
                    Known for Trust,<br />
                    Honesty & Customer<br />
                    Support
                  </h2>
                </div>
                <div class="text">
                  <p>
                    <%= dataFile.name %> is dedicated to providing top quality
                    financial services, is relationship focused and is committed
                    to trustworthy leadership in the communities we serve.
                  </p>

                  <p>
                    Our promise is to continue to work hard to remain relevant
                    in a fast and changing world. Having the right technology,
                    channels and platforms to deliver the ease of banking to all
                    our customers regardless of size or objective. We want to be
                    the bank for generations, both young and old alike.
                  </p>
                </div>

                <div class="row">
                  <!--Start Intro Style1 Single Box-->
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="intro-style1-single-box">
                      <div class="img-box">
                        <div class="img-box-inner">
                          <img
                            src="/home/images/resources/intro-style1-1.jpg"
                            alt=""
                          />
                        </div>
                        <div class="overlay-text">
                          <h3>Our Community</h3>
                        </div>
                      </div>
                      <div class="title-box">
                        <h3>
                          <a href="javascript:void(0)"
                            >Working Together For The Best Banking Experience</a
                          >
                        </h3>
                      </div>
                    </div>
                  </div>
                  <!--End Intro Style1 Single Box-->
                  <!--Start Intro Style1 Single Box-->
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="intro-style1-single-box">
                      <div class="img-box">
                        <div class="img-box-inner">
                          <img
                            src="/home/images/resources/intro-style1-2.jpg"
                            alt=""
                          />
                        </div>
                        <div class="overlay-text">
                          <h3>Our Team</h3>
                        </div>
                      </div>
                      <div class="title-box">
                        <h3>
                          <a href="javascript:void(0)"
                            >Passion & Professional Management</a
                          >
                        </h3>
                      </div>
                    </div>
                  </div>
                  <!--End Intro Style1 Single Box-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Intro Style1 Area-->

      <!--Start Choose Style1 Area-->
      <section class="choose-style1-area">
        <div class="container">
          <ul class="row choose-style1__content">
            <!--Start Single Choose Style1-->
            <li
              class="col-xl-4 col-lg-4 single-choose-style1-colum text-center"
            >
              <div class="single-choose-style1">
                <div class="icon">
                  <div class="icon-inner">
                    <span class="icon-crowd"></span>
                  </div>
                  <div class="counting">01</div>
                </div>
                <div class="text">
                  <h3>Trust</h3>
                  <p>
                    We have a high calling to be people that can be trusted with
                    the private financial information of individuals and
                    businesses. That trust applies not only in keeping
                    information secure, but in the way that we keep each
                    customer's best interest at heart.
                  </p>
                </div>
              </div>
            </li>
            <!--End Single Choose Style1-->

            <!--Start Single Choose Style1-->
            <li
              class="col-xl-4 col-lg-4 single-choose-style1-colum text-center"
            >
              <div class="single-choose-style1">
                <div class="icon">
                  <div class="icon-inner">
                    <span class="icon-commitment"></span>
                  </div>
                  <div class="counting">02</div>
                </div>
                <div class="text">
                  <h3>Commitment</h3>
                  <p>
                    At <%= dataFile.name %> our Mission Statement governs the
                    way we conduct our business. It highlights our desire to
                    serve our customers well and gives us direction in our
                    decision-making. It is a way of saying "we always try to do
                    the right thing!"
                  </p>
                </div>
              </div>
            </li>
            <!--End Single Choose Style1-->

            <!--Start Single Choose Style1-->
            <li
              class="col-xl-4 col-lg-4 single-choose-style1-colum text-center"
            >
              <div class="single-choose-style1">
                <div class="icon">
                  <div class="icon-inner">
                    <span class="icon-consistency"></span>
                  </div>
                  <div class="counting">03</div>
                </div>
                <div class="text">
                  <h3>Service</h3>
                  <p>
                    We are in the customer service business - we just happen to
                    provide banking services. We strive to serve our customers
                    with candor, integrity, trust, fair dealing and honor.
                  </p>
                </div>
              </div>
            </li>
            <!--End Single Choose Style1-->
          </ul>
        </div>
      </section>
      <!--End Choose Style1 Area-->

      <!--Start Statements Area-->
      <section class="statements-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="statements-content-box">
                <ul>
                  <li>
                    <div class="single-statements-box">
                      <div class="img-box">
                        <img
                          src="/home/images/resources/statements-1.jpg"
                          alt=""
                        />
                        <div class="static-content">
                          <h2>Mission</h2>
                        </div>
                        <div class="overlay-content">m</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="single-statements-box">
                      <div class="img-box">
                        <img
                          src="/home/images/resources/statements-2.jpg"
                          alt=""
                        />
                        <div class="static-content">
                          <h2>Vision</h2>
                        </div>
                        <div class="overlay-content">v</div>
                      </div>
                    </div>
                    <div class="single-statements-box">
                      <div class="img-box">
                        <img
                          src="/home/images/resources/statements-3.jpg"
                          alt=""
                        />
                        <div class="static-content">
                          <h2>Core Value</h2>
                        </div>
                        <div class="overlay-content">c</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="statements-text-box">
                <div class="shape">
                  <span class="icon-origami"></span>
                </div>
                <div class="inner-title">
                  <h2>
                    A Great<br />
                    Mission Statement
                  </h2>
                </div>
                <div class="text">
                  <p>
                    <%= dataFile.name %> is dedicated to providing top quality
                    financial services, is relationship focused and is committed
                    to trustworthy leadership in the communities we serve.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Statements Area-->

      <!--Start Facts Area-->
      <section class="facts-area">
        <div
          class="facts-area-bg"
          style="
            background-image: url(/home/images/backgrounds/facts-area-bg.jpg);
          "
        ></div>
        <div class="container">
          <div class="sec-title text-center">
            <h2>Few Interesting Numbers</h2>
            <div class="sub-title">
              <p>Numbers that speak about banking service.</p>
            </div>
          </div>
          <div class="row">
            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-fact-box">
                <div class="icon">
                  <span class="icon-bank"
                    ><span class="path1"></span><span class="path2"></span
                    ><span class="path3"></span><span class="path4"></span
                    ><span class="path5"></span><span class="path6"></span
                    ><span class="path7"></span><span class="path8"></span
                    ><span class="path9"></span><span class="path10"></span
                    ><span class="path11"></span><span class="path12"></span
                    ><span class="path13"></span><span class="path14"></span
                    ><span class="path15"></span><span class="path16"></span
                  ></span>
                </div>
                <div class="text">
                  <h3>Our Network</h3>
                  <p>86 Branches around the country</p>
                </div>
              </div>
            </div>
            <!--End Single Fact Box-->

            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-fact-box">
                <div class="icon">
                  <span class="icon-expert"
                    ><span class="path1"></span><span class="path2"></span
                  ></span>
                </div>
                <div class="text">
                  <h3>Customers</h3>
                  <p>More than 1.5 illion customers</p>
                </div>
              </div>
            </div>
            <!--End Single Fact Box-->

            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-fact-box">
                <div class="icon">
                  <span class="icon-human"
                    ><span class="path1"></span><span class="path2"></span
                    ><span class="path3"></span><span class="path4"></span
                    ><span class="path5"></span><span class="path6"></span
                    ><span class="path7"></span><span class="path8"></span
                    ><span class="path9"></span><span class="path10"></span
                    ><span class="path11"></span><span class="path12"></span
                    ><span class="path13"></span><span class="path14"></span
                    ><span class="path15"></span
                  ></span>
                </div>
                <div class="text">
                  <h3>Employee</h3>
                  <p>1.6k professional employees</p>
                </div>
              </div>
            </div>
            <!--End Single Fact Box-->

            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-fact-box">
                <div class="icon">
                  <span class="icon-money-bag"
                    ><span class="path1"></span><span class="path2"></span
                  ></span>
                </div>
                <div class="text">
                  <h3>Loans Disbursed</h3>
                  <p>45.6 Cr loans for 258 customers</p>
                </div>
              </div>
            </div>
            <!--End Single Fact Box-->
          </div>
        </div>
      </section>
      <!--End Facts Area-->

      <!--Start Statistics Area-->
      <section class="statistics-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="statistics-content-box">
                <div class="sec-title">
                  <h2>
                    Better Value<br />
                    Banking Experience
                  </h2>
                </div>
                <div class="text">
                  <p>
                    Growth at <%= dataFile.name %> has been uninterrupted.
                    Droughts, wars, pandemics, and loss of key personnel
                    notwithstanding, not once has the institution ended a year
                    weaker than it began. Almost a century has come and gone and
                    the little bank, which boasted $27,500 in capital when it
                    opened, now has a capital structure of more than $16
                    million. <%= dataFile.name %>'s world headquarters are
                    located on Main Street in Boerne with two other office
                    locations in Cross Plains and in San Antonio.
                  </p>
                </div>
                <div class="download-box"></div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="statistics-chart">
                <img src="/home/images/resources/statistics-chart.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Statistics Area-->

      <!--Start Awards Achivements Area-->
      <section
        class="awards-achivements-area"
        style="background-color: #f7f1eb"
      >
        <div class="container">
          <div class="sec-title text-center">
            <h2>Awards & Major Achivements</h2>
            <div class="sub-title">
              <p>Outstanding performance and achievements.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <div class="awards-achivements-left-box">
                <!--Start single awards achivements box -->
                <div class="single-awards-achivements-box">
                  <div class="top">
                    <div class="icon">
                      <img src="/home/images/icon/award-1.png" alt="" />
                    </div>
                    <div class="inner-title">
                      <h3>
                        Bank of the Year<br />
                        Europe
                      </h3>
                    </div>
                  </div>
                  <ul>
                    <li><span>Year</span><b>:</b> 2020-2021</li>
                    <li>
                      <span>Award by</span><b>:</b> Los Vegas Business Time
                    </li>
                  </ul>
                </div>
                <!--End single awards achivements box -->
                <!--Start single awards achivements box -->
                <div class="single-awards-achivements-box">
                  <div class="top">
                    <div class="icon">
                      <img src="/home/images/icon/award-1.png" alt="" />
                    </div>
                    <div class="inner-title">
                      <h3>
                        Best Commercial<br />
                        Bank Award
                      </h3>
                    </div>
                  </div>
                  <ul>
                    <li><span>Year</span><b>:</b> 2017-2018</li>
                    <li>
                      <span>Award by</span><b>:</b> Los Vegas Business Time
                    </li>
                  </ul>
                </div>
                <!--End single awards achivements box -->
              </div>
            </div>

            <div class="col-xl-4">
              <div class="awards-img-box">
                <div class="round-box"></div>
                <div class="shape1">
                  <img src="/home/images/resources/trophy-shape-1.png" alt="" />
                </div>
                <div class="shape2">
                  <img src="/home/images/resources/trophy-shape-2.png" alt="" />
                </div>
                <div class="inner">
                  <img src="/home/images/resources/trophy.png" alt="" />
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="awards-achivements-right-box">
                <!--Start single awards achivements box -->
                <div class="single-awards-achivements-box">
                  <div class="top">
                    <div class="icon">
                      <img src="/home/images/icon/award-1.png" alt="" />
                    </div>
                    <div class="inner-title">
                      <h3>
                        Best Private Bank<br />
                        Award
                      </h3>
                    </div>
                  </div>
                  <ul>
                    <li><span>Year</span><b>:</b> 2018-2019</li>
                    <li>
                      <span>Award by</span><b>:</b> Los Vegas Business Time
                    </li>
                  </ul>
                </div>
                <!--End single awards achivements box -->
                <!--Start single awards achivements box -->
                <div class="single-awards-achivements-box">
                  <div class="top">
                    <div class="icon">
                      <img src="/home/images/icon/award-1.png" alt="" />
                    </div>
                    <div class="inner-title">
                      <h3>
                        Banker’s Bank of the<br />
                        Year Awards
                      </h3>
                    </div>
                  </div>
                  <ul>
                    <li><span>Year</span><b>:</b> 2014-2015</li>
                    <li>
                      <span>Award by</span><b>:</b> Los Vegas Business Time
                    </li>
                  </ul>
                </div>
                <!--End single awards achivements box -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Awards Achivements Area-->

      <!--Start footer area -->
      <%- include("includes/footer.ejs") %>
      <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->

    <%- include("includes/bottom.ejs") %>
  </body>
</html>
