<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body class="custom-cursor">
    <%- include("../share/preloader.ejs") %>

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") %>

      <!--Page Header Start-->
      <section class="page-header">
        <div
          class="page-header__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/breadcrumb-area-bg-3.jpg);
          "
        ></div>
        <div class="page-header__shape-2 float-bob-x">
          <img
            src="/home/assets/images/shapes/page-header-shape-2.png"
            alt=""
          />
        </div>
        <div class="page-header__shape-1 float-bob-y">
          <img
            src="/home/assets/images/shapes/page-header-shape-1.png"
            alt=""
          />
        </div>
        <div class="page-header__shape-3 float-bob-x">
          <img
            src="/home/assets/images/shapes/page-header-shape-3.png"
            alt=""
          />
        </div>
        <div class="container">
          <div class="page-header__inner">
            <h2>Accounts</h2>
            <div class="thm-breadcrumb__inner">
              <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li><span>/</span></li>
                <li>Accounts</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!--Page Header End-->

      <!--Services Two Start-->
      <section class="services-two">
        <div class="services-two__bg-box">
          <div
            class="services-two__bg"
            style="
              background-image: url(/home/assets/images/backgrounds/services-two-bg.png);
            "
          ></div>
        </div>
        <div class="container">
          <div class="section-title text-center">
            <div class="section-title__tagline-box">
              <span class="section-title__tagline"
                >Convenient banking options for you</span
              >
            </div>
            <h2 class="section-title__title">Let’s Think Of Saving Money</h2>
          </div>
          <div class="row">
            <!--Services Two Single Start-->
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="services-two__single">
                <div class="services-two__img-box">
                  <div class="services-two__img">
                    <img
                      src="/home/assets/images/services/services-2-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="services-two__icon">
                    <span class="icon-pie-chart"></span>
                  </div>
                </div>
                <div class="services-two__content">
                  <h3 class="services-two__title">
                    <a href="javascript:(0)">Current Account</a>
                  </h3>
                  <p class="services-two__text">
                    Open account now and <br />
                    earn upto 5%
                  </p>
                </div>
                <div class="services-two__hover-single">
                  <div
                    class="services-two__hover-img"
                    style="
                      background-image: url(/home/assets/images/services/services-two-hover-img-1.jpg);
                    "
                  ></div>
                  <div class="services-two__hover-content-box">
                    <div class="services-two__hover-icon">
                      <span class="icon-pie-chart"></span>
                    </div>
                    <div class="services-two__hover-content">
                      <h3 class="services-two__hover-title">
                        <a href="javascript:(0)">Current Account</a>
                      </h3>
                      <p class="services-two__hover-text">
                        Open account now and <br />
                        earn upto 5%
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Services Two Single End-->
            <!--Services Two Single Start-->
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-delay="200ms"
            >
              <div class="services-two__single">
                <div class="services-two__img-box">
                  <div class="services-two__img">
                    <img
                      src="/home/assets/images/services/services-2-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="services-two__icon">
                    <span class="icon-insurance"></span>
                  </div>
                </div>
                <div class="services-two__content">
                  <h3 class="services-two__title">
                    <a href="/register">Insurance Account</a>
                  </h3>
                  <p class="services-two__text">
                    Open account now and <br />
                    earn upto 7%
                  </p>
                </div>
                <div class="services-two__hover-single">
                  <div
                    class="services-two__hover-img"
                    style="
                      background-image: url(/home/assets/images/services/services-two-hover-img-2.jpg);
                    "
                  ></div>
                  <div class="services-two__hover-content-box">
                    <div class="services-two__hover-icon">
                      <span class="icon-insurance"></span>
                    </div>
                    <div class="services-two__hover-content">
                      <h3 class="services-two__hover-title">
                        <a href="/register">Insurance Account</a>
                      </h3>
                      <p class="services-two__hover-text">
                        Open account now and <br />
                        earn upto 7%
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Services Two Single End-->
            <!--Services Two Single Start-->
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-delay="300ms"
            >
              <div class="services-two__single">
                <div class="services-two__img-box">
                  <div class="services-two__img">
                    <img
                      src="/home/assets/images/services/services-2-3.jpg"
                      alt=""
                    />
                  </div>
                  <div class="services-two__icon">
                    <span class="icon-money-bag"></span>
                  </div>
                </div>
                <div class="services-two__content">
                  <h3 class="services-two__title">
                    <a href="/register">Savings Account</a>
                  </h3>
                  <p class="services-two__text">
                    Open account now and <br />
                    earn upto 8%
                  </p>
                </div>
                <div class="services-two__hover-single">
                  <div
                    class="services-two__hover-img"
                    style="
                      background-image: url(/home/assets/images/services/services-two-hover-img-3.jpg);
                    "
                  ></div>
                  <div class="services-two__hover-content-box">
                    <div class="services-two__hover-icon">
                      <span class="icon-money-bag"></span>
                    </div>
                    <div class="services-two__hover-content">
                      <h3 class="services-two__hover-title">
                        <a href="/register">Savings Account</a>
                      </h3>
                      <p class="services-two__hover-text">
                        Open account now and <br />
                        earn upto 8%
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Services Two Single End-->
            <!--Services Two Single Start-->
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-delay="400ms"
            >
              <div class="services-two__single">
                <div class="services-two__img-box">
                  <div class="services-two__img">
                    <img
                      src="/home/assets/images/services/services-2-4.jpg"
                      alt=""
                    />
                  </div>
                  <div class="services-two__icon">
                    <span class="icon-profile"></span>
                  </div>
                </div>
                <div class="services-two__content">
                  <h3 class="services-two__title">
                    <a href="/register">Fixed Deposit Account</a>
                  </h3>
                  <p class="services-two__text">
                    Open account now and <br />
                    earn upto 10%
                  </p>
                </div>
                <div class="services-two__hover-single">
                  <div
                    class="services-two__hover-img"
                    style="
                      background-image: url(/home/assets/images/services/services-two-hover-img-4.jpg);
                    "
                  ></div>
                  <div class="services-two__hover-content-box">
                    <div class="services-two__hover-icon">
                      <span class="icon-profile"></span>
                    </div>
                    <div class="services-two__hover-content">
                      <h3 class="services-two__hover-title">
                        <a href="/register">Fixed Deposit Account</a>
                      </h3>
                      <p class="services-two__hover-text">
                        Open account now and <br />
                        earn upto 10%
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Services Two Single End-->
          </div>
        </div>
      </section>
      <!--Services Two End-->

      <!--About Two Start-->
      <section class="about-two">
        <div class="about-two__shape-3">
          <img src="/home/assets/images/shapes/about-two-shape-3.jpg" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="about-two__left">
                <div class="about-two__img-box">
                  <div class="about-two__img">
                    <img
                      src="/home/assets/images/resources/about-two-img-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="about-two__successful-project">
                    <h3 class="odometer" data-count="9754">00</h3>
                    <p>
                      Successful <br />
                      Projects
                    </p>
                  </div>
                  <div class="about-two__shape-1">
                    <img
                      src="/home/assets/images/shapes/about-two-shape-1.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="about-two__right">
                <div class="section-title text-left">
                  <div class="section-title__tagline-box">
                    <span class="section-title__tagline"
                      >Trading & Demat a/c</span
                    >
                  </div>
                  <h2 class="section-title__title">
                    Step To Make Your Dreams <span>Possible</span>
                  </h2>
                </div>
                <p class="about-two__text">
                  Are you looking for the right banking experience?
                </p>
                <p class="about-two__text-2">
                  Whether it is specific to our community or the economy in
                  general, we take pride in helping customers make more informed
                  decisions.
                </p>
                <ul class="about-two__points list-unstyled">
                  <li>
                    <div class="icon">
                      <span class="icon-team"></span>
                    </div>
                    <div class="text">
                      <p>
                        Business <br />
                        Support
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="icon-growth"></span>
                    </div>
                    <div class="text">
                      <p>
                        Growth <br />
                        & Plannings
                      </p>
                    </div>
                  </li>
                </ul>
                <div class="about-two__progress">
                  <h4 class="about-two__progress-title">Consulting</h4>
                  <div class="bar">
                    <div class="bar-inner count-bar" data-percent="86%">
                      <div class="count-text">86%</div>
                    </div>
                  </div>
                </div>
                <div class="about-two__btn-and-founder">
                  <div class="about-two__btn-box">
                    <a href="javascript:(0)" class="about-two__btn thm-btn"
                      >Discover More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--About Two End-->

      <!--Expectation One Start-->
      <section class="expectation-one">
        <div
          class="expectation-one__bg jarallax"
          data-jarallax
          data-speed="0.2"
          data-imgPosition="50% 0%"
          style="
            background-image: url(assets/images/backgrounds/expectation-one-bg.jpg);
          "
        ></div>
        <div class="section-title text-center">
          <div class="section-title__tagline-box">
            <span class="section-title__tagline"
              >We show our value by serving faithfully</span
            >
          </div>
          <h2 class="section-title__title">
            Your Account In Easy <span>Steps</span>
          </h2>
        </div>
        <div class="expectation-one__inner">
          <div class="container">
            <ul class="expectation-one__points list-unstyled">
              <li>
                <div class="icon">
                  <span class="icon-strategy"></span>
                </div>
                <h3 class="expectation-one__title">
                  <a href="javascript:(0)">Consult With Our Experts</a>
                </h3>
                <p class="expectation-one__text">
                  Explore the invaluable insights and expertise of our financial
                  advisors. Whether you're planning for the long-term or seeking
                  advice for immediate financial decisions, our dedicated team
                  is here to provide you with personalized guidance.
                </p>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-conversation"></span>
                </div>
                <h3 class="expectation-one__title">
                  <a href="javascript:(0)">Submit Required Documents </a>
                </h3>
                <p class="expectation-one__text">
                  To open your online bank account seamlessly, submit the
                  necessary documents. Our secure process ensures quick and
                  hassle-free account activation
                </p>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-planning"></span>
                </div>
                <h3 class="expectation-one__title">
                  <a href="javascript:(0)">Start Savings For Your Future</a>
                </h3>
                <p class="expectation-one__text">
                  Begin saving for your future today, and watch your financial
                  security and peace of mind grow. Whether it's for unexpected
                  expenses, exciting opportunities, or your long-term goals,
                  consistent savings pave the way to a brighter tomorrow.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!--Expectation One End-->

      <!--Start Faq Style1 Area-->
      <%- include("includes/faq.ejs") %>
      <!--End Faq Style1 Area-->

      <!--Site Footer Start-->
      <%- include("includes/footer.ejs") %>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <%- include("includes/bottom.ejs") %>
  </body>
</html>
