<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") -%>
  </head>

  <body>
    <!-- Start preloader -->
    <%- include("../share/preloader.ejs") -%>
    <!-- End preloader -->

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") -%>

      <!--Start breadcrumb area-->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-area-bg"
          style="
            background-image: url(/home/images/backgrounds/breadcrumb-area-bg-3.jpg);
          "
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="inner-content">
                <div
                  class="title"
                  data-aos="fade-right"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <h2>Accounts</h2>
                </div>
                <div
                  class="breadcrumb-menu"
                  data-aos="fade-left"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">Accounts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End breadcrumb area-->

      <!--Start Accounts Style1 Area-->
      <section class="account-style1-area">
        <div class="container">
          <div class="sec-title text-center">
            <h2>Let’s Think of saving Money</h2>
            <div class="sub-title">
              <p>Convenient banking options for you.</p>
            </div>
          </div>
          <div class="row">
            <!--Start Single Account Box Style1-->
            <div class="col-xl-4 col-lg-4">
              <div class="single-account-box-style1">
                <div class="img-holder">
                  <img src="/home/images/resources/account-1.jpg" alt="" />
                </div>
                <div class="text-holder">
                  <h3><a href="#">Savings Account</a></h3>
                  <p>Open account now and earn upto 8%</p>
                </div>
              </div>
            </div>
            <!--End Single Account Box Style1-->
            <!--Start Single Account Box Style1-->
            <div class="col-xl-4 col-lg-4">
              <div class="single-account-box-style1">
                <div class="img-holder">
                  <img src="/home/images/resources/account-2.jpg" alt="" />
                </div>
                <div class="text-holder">
                  <h3><a href="#">Current Account</a></h3>
                  <p>Open account now and earn upto 5%</p>
                </div>
              </div>
            </div>
            <!--End Single Account Box Style1-->
            <!--Start Single Account Box Style1-->
            <div class="col-xl-4 col-lg-4">
              <div class="single-account-box-style1">
                <div class="img-holder">
                  <img src="/home/images/resources/account-3.jpg" alt="" />
                </div>
                <div class="text-holder">
                  <h3><a href="#">Fixed Deposit Account</a></h3>
                  <p>Open account now and earn upto 10%</p>
                </div>
              </div>
            </div>
            <!--End Single Account Box Style1-->
          </div>
        </div>
      </section>
      <!--End Accounts Style1 Area-->

      <!--Start Banking Tab Area-->
      <section class="banking-tab-area">
        <div class="auto-container">
          <div class="banking-tab">
            <!--Start Tabs Content Box-->
            <div class="tabs-content-box">
              <!--Tab-->
              <div
                class="tab-content-box-item tab-content-box-item-active"
                id="trading"
              >
                <div class="banking-tab-content-item">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="banking-tab-img-box">
                        <div
                          class="banking-tab-img-box__bg"
                          style="
                            background-image: url(/home/images/resources/banking-tab-1.jpg);
                          "
                        ></div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="banking-tab-text-box">
                        <div class="inner-title">
                          <h3>Trading & Demat a/c</h3>
                          <h2>
                            Step to Make<br />
                            Your Dreams Possible
                          </h2>
                        </div>
                        <div class="banking-tab-text-box__inner">
                          <div class="text">
                            <p>
                              Whether it is specific to our community or the
                              economy in general, we take pride in helping
                              customers make more informed decisions.
                            </p>
                          </div>
                          <ul>
                            <li>Exellence</li>
                            <li>Service</li>
                            <li>Trust</li>
                            <li>Community</li>
                            <li>Stewardship</li>
                            <li>Guaranteed</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Tab-->
              <div class="tab-content-box-item" id="tax">
                <div class="banking-tab-content-item">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="banking-tab-img-box">
                        <div
                          class="banking-tab-img-box__bg"
                          style="
                            background-image: url(/home/images/resources/banking-tab-2.jpg);
                          "
                        ></div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="banking-tab-text-box">
                        <div class="inner-title">
                          <h3>Tax Savings a/c</h3>
                          <h2>
                            Step to Make<br />
                            Your Dreams Possible
                          </h2>
                        </div>
                        <div class="banking-tab-text-box__inner">
                          <div class="text">
                            <p>
                              Whether it is specific to our community or the
                              economy in general, we take pride in helping
                              customers make more informed decisions.
                            </p>
                          </div>
                          <ul>
                            <li>Exellence</li>
                            <li>Service</li>
                            <li>Trust</li>
                            <li>Community</li>
                            <li>Stewardship</li>
                            <li>Guaranteed</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Tab-->
              <div class="tab-content-box-item" id="gold">
                <div class="banking-tab-content-item">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="banking-tab-img-box">
                        <div
                          class="banking-tab-img-box__bg"
                          style="
                            background-image: url(/home/images/resources/banking-tab-3.jpg);
                          "
                        ></div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="banking-tab-text-box">
                        <div class="inner-title">
                          <h3>Gold Savings a/c</h3>
                          <h2>
                            Step to Make<br />
                            Your Dreams Possible
                          </h2>
                        </div>
                        <div class="banking-tab-text-box__inner">
                          <div class="text">
                            <p>
                              Whether it is specific to our community or the
                              economy in general, we take pride in helping
                              customers make more informed decisions.
                            </p>
                          </div>
                          <ul>
                            <li>Exellence</li>
                            <li>Service</li>
                            <li>Trust</li>
                            <li>Community</li>
                            <li>Stewardship</li>
                            <li>Guaranteed</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End Tabs Content Box-->

            <!--Start Banking Tab Button-->
            <div class="banking-tab__button">
              <ul class="tabs-button-box clearfix">
                <li data-tab="#trading" class="tab-btn-item active-btn-item">
                  <div class="inner">
                    <div class="icon">
                      <span class="icon-trading"></span>
                    </div>
                    <div class="title">
                      <h4><%= dataFile.name %></h4>
                      <h3>Trading & Demat a/c</h3>
                    </div>
                  </div>
                </li>

                <li data-tab="#tax" class="tab-btn-item">
                  <div class="inner">
                    <div class="icon">
                      <span class="icon-fee"></span>
                    </div>
                    <div class="title">
                      <h4><%= dataFile.name %></h4>
                      <h3>Tax Savings a/c</h3>
                    </div>
                  </div>
                </li>

                <li data-tab="#gold" class="tab-btn-item">
                  <div class="inner">
                    <div class="icon">
                      <span class="icon-gold-ingots"></span>
                    </div>
                    <div class="title">
                      <h4><%= dataFile.name %></h4>
                      <h3>Gold Savings a/c</h3>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!--End Banking Tab Button-->
          </div>
        </div>
      </section>
      <!--End Banking Tab Area-->

      <!--Start Account Steps Style2 Area-->
      <section class="account-steps-style2-area">
        <div class="container">
          <div class="sec-title text-center">
            <h2>Your Account in Easy Steps</h2>
            <div class="sub-title">
              <p>We show our value by serving faithfully.</p>
            </div>
          </div>
          <div class="row">
            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-account-steps-box-style2">
                <div class="inner">
                  <div class="step-box">
                    <h4>Step 01</h4>
                  </div>
                  <div class="icon-holder">
                    <span class="icon-consultation"></span>
                  </div>
                  <h3>
                    <a href="#"
                      >Consult With Our <br />
                      Experts</a
                    >
                  </h3>
                  <div class="text">
                    <!-- <p>
                      The claims off duty or the obligations business it will
                      frequently occur.
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Account Box style2-->

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-account-steps-box-style2 bg2">
                <div class="inner">
                  <div class="step-box">
                    <h4>Step 02</h4>
                  </div>
                  <div class="icon-holder">
                    <span class="icon-file"></span>
                  </div>
                  <h3>
                    <a href="#"
                      >Submit Required <br />
                      Documents</a
                    >
                  </h3>
                  <div class="text">
                    <!-- <p>
                      Toil and pain cases are perfectly simple and easy to all
                      our distinguish.
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Account Box style2-->

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-account-steps-box-style2 bg3">
                <div class="inner">
                  <div class="step-box">
                    <h4>Step 03</h4>
                  </div>
                  <div class="icon-holder">
                    <span class="icon-file-1"></span>
                  </div>
                  <h3>
                    <a href="#"
                      >KYC <br />
                      Verification</a
                    >
                  </h3>
                  <div class="text">
                    <p>
                      <!-- The claims off duty or the obligations business it will
                      frequently occur.
                    </p> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Account Box style2-->

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="single-account-steps-box-style2 bg4">
                <div class="inner">
                  <div class="step-box">
                    <h4>Step 04</h4>
                  </div>
                  <div class="icon-holder">
                    <span class="icon-investment"></span>
                  </div>
                  <h3>
                    <a href="#"
                      >Start Savings for <br />
                      Your Future</a
                    >
                  </h3>
                  <div class="text">
                    <!-- <p>
                      Toil and pain cases are perfectly simple and easy to all
                      our distinguish.
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Account Box style2-->
          </div>
        </div>
      </section>
      <!--End Account Steps Style2 Area-->

      <!-- Start App Download Area-->
      <section class="app-download-area">
        <div
          class="app-download-area-bg"
          style="
            background-image: url(/home/images/resources/app-download-1.jpg);
          "
        ></div>
        <div class="container">
          <div class="sec-title text-center">
            <h2>Open Your Account in 5 Mins</h2>
            <div class="sub-title">
              <p>
                Imaging reaching your goals faster with the help<br />
                of our banking tools.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="app-download-content">
                <p>Available for Android and IOS.</p>
                <div class="btn-box">
                  <div class="get-app-box">
                    <ul class="clearfix">
                      <li>
                        <a href="/login">
                          <div class="icon">
                            <span class="icon-play-store"></span>
                          </div>
                          <div class="text">
                            <h4>Download</h4>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a class="style2" href="/login">
                          <div class="icon">
                            <span class="icon-apple"></span>
                          </div>
                          <div class="text">
                            <h4>Download</h4>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End App Download Area-->

      <!--Start Faq Style1 Area-->
      <%- include("includes/faq.ejs") %>
      <!--End Faq Style1 Area-->

      <!--Start footer area -->
      <%- include("includes/footer.ejs") %>
      <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->
    <%- include("includes/bottom.ejs") -%>
  </body>
</html>
