<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body class="custom-cursor">
    <%- include("../share/preloader.ejs") %>

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") %>
      <!-- Main Sllider Start -->
      <section class="main-slider">
        <div
          class="main-slider__carousel owl-carousel owl-theme thm-owl__carousel"
          data-owl-options='{"loop": true, "items": 1, "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"], "margin": 0, "dots": false, "nav": true, "animateOut": "slideOutDown", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000, "autoplay": true, "autoplayTimeout": 7000, "autoplayHoverPause": false}'
        >
          <div class="item main-slider__slide-1">
            <div
              class="main-slider__bg"
              style="
                background-image: url(/home/assets/images/backgrounds/slider-1-1.jpg);
              "
            ></div>
            <!-- /.slider-one__bg -->
            <div class="main-slider__shadow"></div>
            <div class="main-slider__shape-1 float-bob-y">
              <img
                src="/home/assets/images/shapes/main-slider-shape-1.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-2 img-bounce">
              <img
                src="/home/assets/images/shapes/main-slider-shape-2.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-3">
              <img
                src="/home/assets/images/shapes/main-slider-shape-3.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-4">
              <img
                src="/home/assets/images/shapes/main-slider-shape-4.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-5 float-bob-x">
              <img
                src="/home/assets/images/shapes/main-slider-shape-5.png"
                alt=""
              />
            </div>
            <div class="container">
              <div class="main-slider__content">
                <p class="main-slider__sub-title">
                  Sustainable Solutions for you
                </p>
                <h2 class="main-slider__title">
                  Bank with the<br />
                  Happiest Customers<br />
                  in the World
                </h2>
                <div class="main-slider__btn-box">
                  <a href="/login" class="cta-one__btn thm-btn shadow">Login</a>
                  <a href="/register" class="main-slider__btn thm-btn shadow"
                    >Register</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="item main-slider__slide-2">
            <div
              class="main-slider__bg"
              style="
                background-image: url(/home/assets/images/backgrounds/slider-1-2.jpg);
              "
            ></div>
            <!-- /.slider-one__bg -->
            <div class="main-slider__shadow"></div>
            <div class="main-slider__shape-1 float-bob-y">
              <img
                src="/home/assets/images/shapes/main-slider-shape-1.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-2 img-bounce">
              <img
                src="/home/assets/images/shapes/main-slider-shape-2.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-3">
              <img
                src="/home/assets/images/shapes/main-slider-shape-3.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-4">
              <img
                src="/home/assets/images/shapes/main-slider-shape-4.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-5 float-bob-x">
              <img
                src="/home/assets/images/shapes/main-slider-shape-5.png"
                alt=""
              />
            </div>
            <div class="container">
              <div class="main-slider__content">
                <p class="main-slider__sub-title">
                  Sustainable Solutions for you
                </p>
                <h2 class="main-slider__title">
                  Banking Made<br />
                  Easy, More Secure &<br />
                  More Personal
                </h2>
                <div class="main-slider__btn-box">
                  <a href="/login" class="cta-one__btn thm-btn shadow">Login</a>
                  <a href="/register" class="main-slider__btn thm-btn shadow"
                    >Register</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="item main-slider__slide-3">
            <div
              class="main-slider__bg"
              style="
                background-image: url(/home/assets/images/backgrounds/slider-1-3.jpg);
              "
            ></div>
            <!-- /.slider-one__bg -->
            <div class="main-slider__shadow"></div>
            <div class="main-slider__shape-1 float-bob-y">
              <img
                src="/home/assets/images/shapes/main-slider-shape-1.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-2 img-bounce">
              <img
                src="/home/assets/images/shapes/main-slider-shape-2.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-3">
              <img
                src="/home/assets/images/shapes/main-slider-shape-3.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-4">
              <img
                src="/home/assets/images/shapes/main-slider-shape-4.png"
                alt=""
              />
            </div>
            <div class="main-slider__shape-5 float-bob-x">
              <img
                src="/home/assets/images/shapes/main-slider-shape-5.png"
                alt=""
              />
            </div>
            <div class="container">
              <div class="main-slider__content">
                <p class="main-slider__sub-title">
                  Sustainable Solutions for you
                </p>
                <h2 class="main-slider__title">
                  An Innovative<br />
                  Framework for Your<br />
                  Financial solutions
                </h2>
                <div class="main-slider__btn-box">
                  <a href="/login" class="cta-one__btn thm-btn shadow">Login</a>
                  <a href="/register" class="main-slider__btn thm-btn shadow"
                    >Register</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Main Sllider Start -->

      <!--About One Start-->
      <section class="about-one">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="about-one__left">
                <div
                  class="about-one__img-box wow slideInLeft"
                  data-wow-delay="100ms"
                  data-wow-duration="2500ms"
                >
                  <div class="about-one__img">
                    <img
                      src="/home/assets/images/resources/about-three-img-1.jpg"
                      alt=""
                    />
                    <div class="about-one__shape-1 float-bob-x">
                      <img
                        src="/home/assets/images/shapes/about-one-shape-1.png"
                        alt=""
                      />
                    </div>
                    <div class="about-one__shape-2 img-bounce">
                      <img
                        src="/home/assets/images/shapes/about-one-shape-2.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="about-one__img-2">
                    <img
                      src="/home/assets/images/resources/about-one-img-2.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="about-one__right">
                <div class="section-title text-left">
                  <div class="section-title__tagline-box">
                    <span class="section-title__tagline"
                      >Welcome to <%= dataFile.name %></span
                    >
                  </div>
                  <h2 class="section-title__title">
                    Bank For A Better Tomorrow
                  </h2>
                </div>
                <p class="about-one__text">
                  <%= dataFile.name %> is with a professional community bank
                  team providing a full range of banking services and technology
                  for commercial and retail depositors and borrowers.
                </p>
                <div class="about-one__points-and-experience">
                  <div class="about-one__points-box">
                    <ul class="about-one__points-list list-unstyled">
                      <li>
                        <div class="icon">
                          <span class="fa fa-check"></span>
                        </div>
                        <div class="text">
                          <p>Strategy & Consulting</p>
                        </div>
                      </li>
                      <li>
                        <div class="icon">
                          <span class="fa fa-check"></span>
                        </div>
                        <div class="text">
                          <p>Business Process</p>
                        </div>
                      </li>
                    </ul>
                    <ul class="about-one__points-list list-unstyled">
                      <li>
                        <div class="icon">
                          <span class="fa fa-check"></span>
                        </div>
                        <div class="text">
                          <p>Marketing Rules</p>
                        </div>
                      </li>
                      <li>
                        <div class="icon">
                          <span class="fa fa-check"></span>
                        </div>
                        <div class="text">
                          <p>Partnerships</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="about-one__experience-box">
                    <div class="about-one__experience-icon">
                      <span class="icon-certificate"></span>
                    </div>
                    <div class="about-one__experience-text">
                      <p>
                        Over <%= dataFile.age %> Years of Banking Experience
                      </p>
                    </div>
                  </div> -->
                </div>
                <div class="about-one__btn-box">
                  <div class="about-one__shape-3 float-bob-x">
                    <img
                      src="/home/assets/images/shapes/about-one-shape-3.png"
                      alt=""
                    />
                  </div>
                  <a href="/about" class="about-one__btn thm-btn"
                    >Discover More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--About One End-->

      <!--Services One Start-->
      <section class="services-one">
        <div
          class="services-one__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/services-one-bg.png);
          "
        ></div>
        <div class="container">
          <div class="services-one__top">
            <div class="row">
              <div class="col-xl-7 col-lg-6">
                <div class="services-one__left">
                  <div class="section-title text-left">
                    <div class="section-title__tagline-box">
                      <span class="section-title__tagline"
                        >what we’re doing</span
                      >
                    </div>
                    <h2 class="section-title__title">
                      Offering the Best Banking <br />
                      & Finance <span>Services</span>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-lg-6">
                <div class="services-one__right">
                  <p class="services-one__text">
                    Use your computer, phone or tablet device to access accounts
                    from anywhere with an internet connection.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="services-one__bottom">
            <div class="row">
              <!--Services One Single Start-->
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="100ms"
              >
                <div class="services-one__single">
                  <div class="services-one__title-box">
                    <h3 class="services-one__title">
                      <a href="javascript:(0)">Capital Market</a>
                    </h3>
                  </div>
                  <div class="services-one__img-box">
                    <div class="services-one__img">
                      <img
                        src="/home/assets/images/services/services-1-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="services-one__icon">
                      <span class="icon-pie-chart"></span>
                    </div>
                  </div>
                  <div class="services-one__read-more">
                    <a href="javascript:(0)"
                      >Read More<span class="icon-right-arrow"></span
                    ></a>
                  </div>
                </div>
              </div>
              <!--Services One Single End-->
              <!--Services One Single Start-->
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="200ms"
              >
                <div class="services-one__single">
                  <div class="services-one__title-box">
                    <h3 class="services-one__title">
                      <a href="javascript:(0)">Insurance</a>
                    </h3>
                  </div>
                  <div class="services-one__img-box">
                    <div class="services-one__img">
                      <img
                        src="/home/assets/images/services/services-1-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="services-one__icon">
                      <span class="icon-insurance"></span>
                    </div>
                  </div>
                  <div class="services-one__read-more">
                    <a href="javascript:(0)"
                      >Read More<span class="icon-right-arrow"></span
                    ></a>
                  </div>
                </div>
              </div>
              <!--Services One Single End-->
              <!--Services One Single Start-->
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="300ms"
              >
                <div class="services-one__single">
                  <div class="services-one__title-box">
                    <h3 class="services-one__title">
                      <a href="javascript:(0)">Mutual Funds</a>
                    </h3>
                  </div>
                  <div class="services-one__img-box">
                    <div class="services-one__img">
                      <img
                        src="/home/assets/images/services/services-1-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="services-one__icon">
                      <span class="icon-money-bag"></span>
                    </div>
                  </div>
                  <div class="services-one__read-more">
                    <a href="javascript:(0)"
                      >Read More<span class="icon-right-arrow"></span
                    ></a>
                  </div>
                </div>
              </div>
              <!--Services One Single End-->
              <!--Services One Single Start-->
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="400ms"
              >
                <div class="services-one__single">
                  <div class="services-one__title-box">
                    <h3 class="services-one__title">
                      <a href="javascript:(0)">Portfolio Management</a>
                    </h3>
                  </div>
                  <div class="services-one__img-box">
                    <div class="services-one__img">
                      <img
                        src="/home/assets/images/services/services-1-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="services-one__icon">
                      <span class="icon-profile"></span>
                    </div>
                  </div>
                  <div class="services-one__read-more">
                    <a href="javascript:(0)"
                      >Read More<span class="icon-right-arrow"></span
                    ></a>
                  </div>
                </div>
              </div>
              <!--Services One Single End-->
            </div>
          </div>
        </div>
      </section>
      <!--Services One End-->

      <!--Grow Business Start-->
      <section class="grow-business">
        <div class="container">
          <div class="grow-business__inner">
            <div
              class="grow-business__bg"
              style="
                background-image: url(/home/assets/images/backgrounds/grow-business-bg.jpg);
              "
            ></div>
            <div class="row">
              <div class="col-xl-6">
                <div class="grow-business__left">
                  <div class="section-title text-left">
                    <div class="section-title__tagline-box">
                      <span class="section-title__tagline"
                        >Human resources</span
                      >
                    </div>
                    <h2 class="section-title__title">
                      Let’s Grow Business with a New <span>Strategies</span>
                    </h2>
                  </div>
                  <p class="grow-business__text">
                    Our lenders are here to make the dreams on your horizon a
                    reality with a loan solution that will fit your borrowing
                    needs.
                  </p>
                  <ul class="grow-business__points list-unstyled">
                    <li>
                      <div class="icon">
                        <span class="fa fa-check"></span>
                      </div>
                      <div class="text">
                        <p>Keep tabs on your balances</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <span class="fa fa-check"></span>
                      </div>
                      <div class="text">
                        <p>View recent transactions</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <span class="fa fa-check"></span>
                      </div>
                      <div class="text">
                        <p>Transfer funds between accounts</p>
                      </div>
                    </li>
                  </ul>
                  <div class="grow-business__progress">
                    <h4 class="grow-business__progress-title">Consulting</h4>
                    <div class="bar">
                      <div class="bar-inner count-bar" data-percent="86%">
                        <div class="count-text">86%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="grow-business__right">
                  <div class="grow-business__shape-1 float-bob-x">
                    <img
                      src="/home/assets/images/shapes/grow-business-shape-1.png"
                      alt=""
                    />
                  </div>
                  <ul class="grow-business__right-points list-unstyled">
                    <li>
                      <div class="grow-business__right-points-icon">
                        <span class="icon-experience"></span>
                      </div>
                      <h3 class="grow-business__right-points-title">
                        Benefits by Investing <br />
                        your Money
                      </h3>
                      <p class="grow-business__right-points-text">
                        You won’t be able to stop smiling! At <%= dataFile.name
                        %>, we pride ourselves on providing opportunity and
                        access to all of our loyal customers.
                      </p>
                    </li>
                    <li>
                      <div class="grow-business__right-points-icon">
                        <span class="icon-consumer-behavior"></span>
                      </div>
                      <h3 class="grow-business__right-points-title">
                        Our Strategies for Better Returns
                      </h3>
                      <p class="grow-business__right-points-text">
                        We have a wide range of account types to fit everyone,
                        regardless of pay grade or lifestyle.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Grow Business End-->

      <!--Video One Start-->
      <section class="video-one">
        <div
          class="video-one__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/video-one-bg.jpg);
          "
        ></div>
        <div class="container">
          <div class="video-one__inner">
            <div class="video-one__video-link">
              <a href="https://www.youtube.com/watch?v=" class="video-popup">
                <div class="video-one__video-icon">
                  <img
                    src="/home/assets/images/icon/video-one-icon.png"
                    alt=""
                  />
                  <i class="ripple"></i>
                </div>
              </a>
            </div>
            <h3 class="video-one__title">
              Committed to helping our <br />
              customers succeed.
            </h3>
            <div class="video-one__btn-box">
              <a href="/about" class="video-one__btn thm-btn">Discover More</a>
            </div>
          </div>
        </div>
      </section>
      <!--Video One End-->

      <!--Testimonial One Start-->
      <section class="testimonial-one">
        <div
          class="testimonial-one__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/testimonial-one-bg.jpg);
          "
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4">
              <div class="testimonial-one__left">
                <div class="section-title text-left">
                  <div class="section-title__tagline-box">
                    <span class="section-title__tagline">our feedbacks</span>
                  </div>
                  <h2 class="section-title__title">
                    Customers are <span>Talking</span>
                  </h2>
                </div>
                <p class="testimonial-one__left-text">
                  Through the generations, as buildings and faces have changed,
                  the communities’ support has remained constant.
                </p>
                <div class="testimonial-one__rounded-text">
                  <a
                    href="javascript:(0)"
                    class="testimonial-one__curved-circle-box"
                  >
                    <div class="curved-circle">
                      <span class="curved-circle--item">
                        satisfied customers
                      </span>
                    </div>
                    <!-- /.curved-circle -->
                    <div class="testimonial-one__icon">
                      <img
                        src="/home/assets/images/icon/main-slider-two-rounded-icon.png"
                        alt=""
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-8">
              <div class="testimonial-one__right">
                <div
                  class="testimonial-one__carousel owl-carousel owl-theme thm-owl__carousel"
                  data-owl-options='{
                                "loop": true,
                                "autoplay": true,
                                "margin": 30,
                                "nav": false,
                                "dots": false,
                                "smartSpeed": 500,
                                "autoplayTimeout": 10000,
                                "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 2
                                    },
                                    "992": {
                                        "items": 2
                                    },
                                    "1200": {
                                        "items": 3
                                    }
                                }
                            }'
                >
                  <!--Testimonial One Single Start-->
                  <div class="item">
                    <div class="testimonial-one__single">
                      <div class="testimonial-one__content">
                        <div class="testimonial-one__shape-1"></div>
                        <div class="testimonial-one__shape-2"></div>
                        <div class="testimonial-one__img">
                          <img
                            src="/home/assets/images/testimonial/testimonial-1-1.jpg"
                            alt=""
                          />
                        </div>
                        <div class="testimonial-one__ratting">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                        <p class="testimonial-one__text">
                          They are always helpful and quick. Also they gave my
                          husband a personal loan which made it possible for him
                          to get his truck fixed so he can get back and forth to
                          dialysis.
                        </p>
                      </div>
                      <div class="testimonial-one__client-info">
                        <h3><a href="javascript:(0)">Aleesha Brown</a></h3>
                        <p>Happy Customer</p>
                      </div>
                    </div>
                  </div>
                  <!--Testimonial One Single End-->
                  <!--Testimonial One Single Start-->
                  <div class="item">
                    <div class="testimonial-one__single">
                      <div class="testimonial-one__content">
                        <div class="testimonial-one__shape-1"></div>
                        <div class="testimonial-one__shape-2"></div>
                        <div class="testimonial-one__img">
                          <img
                            src="/home/assets/images/testimonial/testimonial-1-2.jpg"
                            alt=""
                          />
                        </div>
                        <div class="testimonial-one__ratting">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                        <p class="testimonial-one__text">
                          The loan application process was very efficient and
                          tailored to physicians. I believe it is the best
                          resource for meeting physician's financial needs.
                        </p>
                      </div>
                      <div class="testimonial-one__client-info">
                        <h3><a href="javascript:(0)">Mike Hardson</a></h3>
                        <p>Happy Customer</p>
                      </div>
                    </div>
                  </div>
                  <!--Testimonial One Single End-->
                  <!--Testimonial One Single Start-->
                  <div class="item">
                    <div class="testimonial-one__single">
                      <div class="testimonial-one__content">
                        <div class="testimonial-one__shape-1"></div>
                        <div class="testimonial-one__shape-2"></div>
                        <div class="testimonial-one__img">
                          <img
                            src="/home/assets/images/testimonial/testimonial-1-3.jpg"
                            alt=""
                          />
                        </div>
                        <div class="testimonial-one__ratting">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                        <p class="testimonial-one__text">
                          My experience at <%= dataFile.name %> was excellent!
                          My loan representative was exceptional. The loan
                          process went very smooth. I will continue to do
                          business with <%= dataFile.name %>!
                        </p>
                      </div>
                      <div class="testimonial-one__client-info">
                        <h3><a href="javascript:(0)">Sarah Albert</a></h3>
                        <p>Happy Customer</p>
                      </div>
                    </div>
                  </div>
                  <!--Testimonial One Single End-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Testimonial One End-->

      <!--Contact One Start-->
      <section class="contact-one">
        <div
          class="contact-one__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/contact-one-bg.jpg);
          "
        ></div>
        <div class="contact-one__shape-1 float-bob-x">
          <img
            src="/home/assets/images/shapes/contact-one-shape-1.png"
            alt=""
          />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="contact-one__left">
                <form
                  class="contact-one__form contact-form-validated"
                  novalidate="novalidate"
                >
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="contact-one__input-box">
                        <input
                          type="text"
                          placeholder="Your name"
                          name="name"
                        />
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="contact-one__input-box">
                        <input
                          type="email"
                          placeholder="Email address"
                          name="email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="contact-one__input-box text-message-box">
                        <textarea
                          name="message"
                          placeholder="Write message"
                        ></textarea>
                      </div>
                      <div class="contact-one__btn-box">
                        <button type="submit" class="thm-btn contact-one__btn">
                          Send a Message
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="result"></div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="contact-one__right">
                <div class="section-title text-left">
                  <div class="section-title__tagline-box">
                    <span class="section-title__tagline">contact us</span>
                  </div>
                  <h2 class="section-title__title">
                    Have Questions? Contact <br />
                    with us <span>Anytime</span>
                  </h2>
                </div>
                <ul class="contact-one__points list-unstyled">
                  <% if(dataFile.phone){ %>
                  <li>
                    <div class="icon">
                      <span class="icon-telephone-1"></span>
                    </div>
                    <div class="text">
                      <p>Have any question?</p>
                      <h3>
                        Free
                        <a href="tel:<%= dataFile.phone %>"
                          ><%= dataFile.phone %></a
                        >
                      </h3>
                    </div>
                  </li>
                  <% } %>
                  <li>
                    <div class="icon">
                      <span class="icon-email"></span>
                    </div>
                    <div class="text">
                      <p>Send Email</p>
                      <h3>
                        <a href="mailto:<%= dataFile.email %>"
                          ><%= dataFile.email %></a
                        >
                      </h3>
                    </div>
                  </li>
                  <% if(dataFile.address1){ %>
                  <li>
                    <div class="icon">
                      <span class="icon-pin"></span>
                    </div>
                    <div class="text">
                      <p>Visit anytime</p>
                      <h3>
                        <%= `${dataFile.address1}, ${dataFile.location}` %>
                      </h3>
                    </div>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Contact One End-->

      <!--Counter One Start-->
      <section class="counter-one mt-5 pt-5">
        <div class="counter-one__inner">
          <div class="counter-one__shadow"></div>
          <div
            class="counter-one__bg"
            style="
              background-image: url(/home/assets/images/backgrounds/counter-one-bg.jpg);
            "
          ></div>
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-5">
                <div class="counter-one__left">
                  <div class="section-title text-left">
                    <div class="section-title__tagline-box">
                      <span class="section-title__tagline">fun facts</span>
                    </div>
                    <h2 class="section-title__title">
                      Banking Funfacts <br />
                      in Great <span>Numbers</span>
                    </h2>
                  </div>
                  <p class="counter-one__text">
                    At <%= dataFile.name %> we strive to be your partner as you
                    grow in your banking relationships. Whether you are on the
                    go or want to stop in, we have the people and technology to
                    meet your needs.
                  </p>
                </div>
              </div>
              <div class="col-xl-7 col-lg-7">
                <div class="counter-one__right">
                  <ul class="counter-one__count-box list-unstyled">
                    <li>
                      <div class="counter-one__icon">
                        <span class="icon-checking"></span>
                      </div>
                      <div class="counter-one__count count-box">
                        <h3
                          class="count-text"
                          data-stop="9754"
                          data-speed="1500"
                        >
                          00
                        </h3>
                      </div>
                      <p class="counter-one__text">Projects Completed</p>
                    </li>
                    <li>
                      <div class="counter-one__icon">
                        <span class="icon-recommend"></span>
                      </div>
                      <div class="counter-one__count count-box">
                        <h3
                          class="count-text"
                          data-stop="745987"
                          data-speed="1500"
                        >
                          00
                        </h3>
                      </div>
                      <p class="counter-one__text">Satisfied Customers</p>
                    </li>
                    <li>
                      <div class="counter-one__icon">
                        <span class="icon-consulting"></span>
                      </div>
                      <div class="counter-one__count count-box">
                        <h3
                          class="count-text"
                          data-stop="3257"
                          data-speed="1500"
                        >
                          00
                        </h3>
                      </div>
                      <p class="counter-one__text">Expert Consultants</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Counter One End-->

      <!--Site Footer Start-->
      <%- include("includes/footer.ejs") %>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <%- include("includes/bottom.ejs") %>
  </body>
</html>
