<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body>
    <!-- Start preloader -->
    <%- include("../share/preloader.ejs") %>
    <!-- End preloader -->

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") %>

      <!--Main Slider Start-->
      <section class="main-slider main-slider-style1">
        <div
          class="swiper-container thm-swiper__slider"
          data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'
        >
          <div class="swiper-wrapper">
            <div class="slider-buttom-box">
              <a class="style2" href="/register"
                >Create Account <span class="icon-payment"></span
              ></a>
              <a href="/login">Login <span class="icon-home-button"></span></a>
            </div>

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
              <div
                class="image-layer"
                style="
                  background-image: url(/home/images/slides/slide-v1-1.jpg);
                "
              ></div>
              <div
                class="main-slider-style1__shape1"
                style="
                  background-image: url(/home/images/shapes/slider-1-shape-1.png);
                "
              ></div>
              <div class="container">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="main-slider-content">
                      <div class="main-slider-content__inner">
                        <div class="big-title">
                          <h2>
                            Bank with the<br />
                            Happiest Customers<br />
                            in the World
                          </h2>
                        </div>
                        <div class="text">
                          <p>
                            Whether it is specific to our community or the
                            economy in general, we take pride in helping
                            customers make more informed decisions.
                          </p>
                        </div>
                        <div class="btns-box">
                          <a class="btn-one" href="/login">
                            <span class="txt"> Make an Appointment </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Swiper Slide-->

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
              <div
                class="image-layer"
                style="
                  background-image: url(/home/images/slides/slide-v1-2.jpg);
                "
              ></div>
              <div
                class="main-slider-style1__shape1"
                style="
                  background-image: url(/home/images/shapes/slider-1-shape-1.png);
                "
              ></div>
              <div class="container">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="main-slider-content">
                      <div class="main-slider-content__inner">
                        <div class="big-title">
                          <h2>
                            Banking Made<br />
                            Easy, More Secure &<br />
                            More Personal
                          </h2>
                        </div>
                        <div class="text">
                          <p>
                            Born in 1931, <%= dataFile.name %> has been serving
                            for over 85 years. We hang our hat on personalized
                            service, and our people play an integral role in
                            providing that service.
                          </p>
                        </div>
                        <div class="btns-box">
                          <a class="btn-one" href="/login">
                            <span class="txt"> Make an Appointment </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Swiper Slide-->

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
              <div
                class="image-layer"
                style="
                  background-image: url(/home/images/slides/slide-v1-3.jpg);
                "
              ></div>
              <div
                class="main-slider-style1__shape1"
                style="
                  background-image: url(/home/images/shapes/slider-1-shape-1.png);
                "
              ></div>
              <div class="container">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="main-slider-content">
                      <div class="main-slider-content__inner">
                        <div class="big-title">
                          <h2>
                            An Innovative<br />
                            Framework for Your<br />
                            Financial solutions
                          </h2>
                        </div>
                        <div class="text">
                          <p>
                            <%= dataFile.name %> is with a professional
                            community bank team providing a full range of
                            banking services and technology for commercial and
                            retail depositors and borrowers.
                          </p>
                        </div>
                        <div class="btns-box">
                          <a class="btn-one" href="/login">
                            <span class="txt"> Make an Appointment </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Swiper Slide-->
          </div>

          <!-- If we need navigation buttons -->
          <div class="main-slider__nav">
            <div
              class="swiper-button-prev"
              id="main-slider__swiper-button-next"
            >
              <i class="icon-chevron left"></i>
            </div>
            <div
              class="swiper-button-next"
              id="main-slider__swiper-button-prev"
            >
              <i class="icon-chevron right"></i>
            </div>
          </div>
        </div>
      </section>
      <!--Main Slider End-->

      <!--Start Features Style1 Area-->
      <section class="features-style1-area">
        <div class="container">
          <div class="sec-title text-center">
            <h2>Bank for a Better Tomorrow</h2>
            <div class="sub-title">
              <p>Committed to helping our customers succeed.</p>
            </div>
          </div>
          <div class="features-style1-content">
            <ul class="clearfix">
              <!--Start Single Features Style1 Box-->
              <li>
                <div class="single-features-style1-box">
                  <div class="shape-left">
                    <img src="/home/images/shapes/shape-1.png" alt="" />
                  </div>
                  <div class="shape-bottom">
                    <img src="/home/images/shapes/shape-2.png" alt="" />
                  </div>
                  <div class="counting-box">
                    <div
                      class="counting-box-bg"
                      style="
                        background-image: url(/home/images/shapes/counting-box-bg.png);
                      "
                    ></div>
                    <h3>01</h3>
                  </div>
                  <div class="text-box">
                    <h4>Fixed Depost</h4>
                    <h3>Fixed Returns with Peace of Mind</h3>
                    <p>
                      Must explain to you how work mistaken give you complete
                      guide.
                    </p>
                    <div class="btn-box">
                      <a href="/accounts/fixed-deposit">
                        Read More
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <!--End Single Features Style1 Box-->
              <!--Start Single Features Style1 Box-->
              <li>
                <div class="single-features-style1-box">
                  <div class="shape-left">
                    <img src="/home/images/shapes/shape-1.png" alt="" />
                  </div>
                  <div class="shape-bottom">
                    <img src="/home/images/shapes/shape-2.png" alt="" />
                  </div>
                  <div class="counting-box">
                    <div
                      class="counting-box-bg"
                      style="
                        background-image: url(/home/images/shapes/counting-box-bg.png);
                      "
                    ></div>
                    <h3>02</h3>
                  </div>
                  <div class="text-box">
                    <h4>Current Account</h4>
                    <h3>Banking Solutions for a Business</h3>
                    <p>
                      No one rejects dislikes avoids pleasures because it is
                      pleasure trivial.
                    </p>
                    <div class="btn-box">
                      <a href="/accounts/current">
                        Read More
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <!--End Single Features Style1 Box-->
              <!--Start Single Features Style1 Box-->
              <li>
                <div class="single-features-style1-box">
                  <div class="shape-left">
                    <img src="/home/images/shapes/shape-1.png" alt="" />
                  </div>
                  <div class="shape-bottom">
                    <img src="/home/images/shapes/shape-2.png" alt="" />
                  </div>
                  <div class="counting-box">
                    <div
                      class="counting-box-bg"
                      style="
                        background-image: url(/home/images/shapes/counting-box-bg.png);
                      "
                    ></div>
                    <h3>03</h3>
                  </div>
                  <div class="text-box">
                    <h4>Salary Account</h4>
                    <h3>Our Strategies for Better Returns</h3>
                    <p>
                      Designed for salaried professionals in both the private
                      and public sector
                    </p>
                    <div class="btn-box">
                      <a href="/accounts/salary">
                        Read More
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <!--End Single Features Style1 Box-->
            </ul>
          </div>
        </div>
      </section>
      <!--End Features Style1 Area-->

      <!--Start Service Style1 Area-->
      <section class="service-style1-area">
        <div
          class="service-style1-bg"
          style="
            background-image: url(/home/images/backgrounds/service-style1.jpg);
          "
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="service-style1-title">
                <div class="sec-title">
                  <h2>Banking For Your Needs</h2>
                  <div class="sub-title">
                    <p>The bank that builds better relationships.</p>
                  </div>
                </div>
                <div class="get-assistant-box">
                  <a href="/contact"><span class="icon-chatting"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12">
              <div class="service-style1-tab">
                <!--Start Service Style1 Tab Button-->
                <div class="service-style1-tab__button">
                  <ul class="tabs-button-box clearfix">
                    <li data-tab="#individuals" class="tab-btn-item">
                      <div class="inner">
                        <div class="left">
                          <h4>Banking for</h4>
                          <h3>Individuals</h3>
                        </div>
                        <div class="right">
                          <span class="icon-down-arrow"></span>
                        </div>
                      </div>
                    </li>
                    <li
                      data-tab="#companies"
                      class="tab-btn-item active-btn-item"
                    >
                      <div class="inner">
                        <div class="left">
                          <h4>Banking for</h4>
                          <h3>Companies</h3>
                        </div>
                        <div class="right">
                          <span class="icon-down-arrow"></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!--End Service Style1 Tab Button-->

                <!--Start Tabs Content Box-->
                <div class="tabs-content-box">
                  <!--Tab-->
                  <div class="tab-content-box-item" id="individuals">
                    <div class="service-style1-tab-content-box-item">
                      <div class="row">
                        <!--Start Single Service Box Style1-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="single-service-box-style1">
                            <div class="icon">
                              <span class="icon-safebox"></span>
                            </div>
                            <h3><a href="/accounts">Accounts</a></h3>
                            <div class="border-box"></div>
                            <p>
                              We have a wide range of account types to fit
                              everyone, regardless of pay grade or lifestyle.
                            </p>
                            <h6><span>*</span> Interest rate up to 5% p.a</h6>
                            <div class="btn-box">
                              <a href="/accounts"
                                ><span class="icon-right-arrow"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!--End Single Service Box Style1-->
                        <!--Start Single Service Box Style1-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="single-service-box-style1">
                            <div class="icon">
                              <span class="icon-online"></span>
                            </div>
                            <h3><a href="/cards">Bank Cards</a></h3>
                            <div class="border-box"></div>
                            <p>
                              Our cards are issued to clients that use one or
                              more of our services. Enjoy seamless transaction
                            </p>
                            <h6><span>*</span> Terms & Conditions</h6>
                            <div class="btn-box">
                              <a href="/cards"
                                ><span class="icon-right-arrow"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!--End Single Service Box Style1-->
                        <!--Start Single Service Box Style1-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="single-service-box-style1">
                            <div class="icon">
                              <span class="icon-loan"></span>
                            </div>
                            <h3><a href="/loan">Consumer Loans</a></h3>
                            <div class="border-box"></div>
                            <p>
                              Want to start a side hustle, buy a new car or sort
                              out emergencies? There is a loan for your every
                              goal
                            </p>
                            <h6><span>*</span> Check today’s Interest Rates</h6>
                            <div class="btn-box">
                              <a href="/loan"
                                ><span class="icon-right-arrow"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!--End Single Service Box Style1-->
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div
                    class="tab-content-box-item tab-content-box-item-active"
                    id="companies"
                  >
                    <div class="service-style1-tab-content-box-item">
                      <div class="row">
                        <!--Start Single Service Box Style1-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="single-service-box-style1">
                            <div class="icon">
                              <span class="icon-safebox"></span>
                            </div>
                            <h3><a href="/accounts">Accounts</a></h3>
                            <div class="border-box"></div>
                            <p>
                              We have a wide range of account types to fit
                              everyone, regardless of pay grade or lifestyle.
                            </p>
                            <h6><span>*</span> Interest rate up to 5% p.a</h6>
                            <div class="btn-box">
                              <a href="/accounts"
                                ><span class="icon-right-arrow"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!--End Single Service Box Style1-->
                        <!--Start Single Service Box Style1-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="single-service-box-style1">
                            <div class="icon">
                              <span class="icon-online"></span>
                            </div>
                            <h3><a href="/cards">Bank Cards</a></h3>
                            <div class="border-box"></div>
                            <p>
                              Our cards are issued to clients that use one or
                              more of our services. Enjoy seamless transaction
                            </p>
                            <h6><span>*</span> Terms & Conditions</h6>
                            <div class="btn-box">
                              <a href="/cards"
                                ><span class="icon-right-arrow"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!--End Single Service Box Style1-->
                        <!--Start Single Service Box Style1-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="single-service-box-style1">
                            <div class="icon">
                              <span class="icon-loan"></span>
                            </div>
                            <h3><a href="/loan">Consumer Loans</a></h3>
                            <div class="border-box"></div>
                            <p>
                              Want to start a side hustle, buy a new car or sort
                              out emergencies? There is a loan for your every
                              goal
                            </p>
                            <h6><span>*</span> Check today’s Interest Rates</h6>
                            <div class="btn-box">
                              <a href="/loan"
                                ><span class="icon-right-arrow"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!--End Single Service Box Style1-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Tabs Content Box-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-12">
              <div class="service-style1__btns-box text-center">
                <a class="btn-one" href="/register">
                  <span class="txt">Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Service Style1 Area-->

      <!--Start Wealth Secure Area-->
      <section class="wealth-secure-area">
        <div class="container">
          <div class="sec-title text-center">
            <h2>Grow Your Wealth Secure</h2>
            <div class="sub-title">
              <p>Don’t just make a deposit, make an investment today.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div
                class="owl-carousel owl-theme thm-owl__carousel wealth-secure-carousel-2 owl-nav-style-one"
                data-owl-options='{
                            "loop": true,
                            "autoplay": true,
                            "margin": 30,
                            "nav": false,
                            "dots": true,
                            "smartSpeed": 500,
                            "autoplayTimeout": 10000,
                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                            "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 2
                                    },
                                    "992": {
                                        "items": 3
                                    },
                                    "1200": {
                                        "items": 4
                                    }
                                }
                            }'
              >
                <!--Start Single Wealth Secure Box-->
                <div class="single-wealth-secure-box">
                  <div class="img-box">
                    <div class="img-box-inner">
                      <img
                        src="/home/images/resources/wealth-secure-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="inner-title">
                      <div class="arrow-top"></div>
                      <div class="arrow-bottom"></div>
                      <h3>
                        <a href="javascript:void(0)"
                          >Convenience Meets Security</a
                        >
                      </h3>
                      <div class="right-arrow-btn">
                        <a href="javascript:void(0)"
                          ><span class="icon-right-arrow"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <p>
                      With <%= dataFile.name %>, personal or corporate banking
                      is easier on any device anywhere. Our digital solutions
                      offer various benefits that will ensure you stay in
                      control wherever you are.
                    </p>
                  </div>
                </div>
                <!--End Single Wealth Secure Box-->
                <!--Start Single Wealth Secure Box-->
                <div class="single-wealth-secure-box style2">
                  <div class="img-box">
                    <div class="img-box-inner">
                      <img
                        src="/home/images/resources/wealth-secure-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="inner-title">
                      <div class="arrow-top"></div>
                      <div class="arrow-bottom"></div>
                      <h3>
                        <a href="javascript:void(0)"
                          >More than a Bank. It’s a lifestyle</a
                        >
                      </h3>
                      <div class="right-arrow-btn">
                        <a href="javascript:void(0)"
                          ><span class="icon-right-arrow"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <p>
                      Your online and on-the-go lifestyle has met its match.
                      Combine the features of <%= dataFile.name %> payment cards
                      with the convenience of digital banking. Your finances,
                      your way.
                    </p>
                  </div>
                </div>
                <!--End Single Wealth Secure Box-->
                <!--Start Single Wealth Secure Box-->
                <div class="single-wealth-secure-box style3">
                  <div class="img-box">
                    <div class="img-box-inner">
                      <img
                        src="/home/images/resources/wealth-secure-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="inner-title">
                      <div class="arrow-top"></div>
                      <div class="arrow-bottom"></div>
                      <h3>
                        <a href="javascript:void(0)"
                          >Better Features. More Capabilities</a
                        >
                      </h3>
                      <div class="right-arrow-btn">
                        <a href="javascript:void(0)"
                          ><span class="icon-right-arrow"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <p>
                      Take advantage of feature-packed channels to conveniently
                      manage your finances, pay bills, transfer funds and more,
                      across thousands of supported global merchants.
                    </p>
                  </div>
                </div>
                <!--End Single Wealth Secure Box-->
                <!--Start Single Wealth Secure Box-->
                <div class="single-wealth-secure-box style4">
                  <div class="img-box">
                    <div class="img-box-inner">
                      <img
                        src="/home/images/resources/wealth-secure-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="inner-title">
                      <div class="arrow-top"></div>
                      <div class="arrow-bottom"></div>
                      <h3>
                        <a href="javascript:void(0)">Bank without boundaries</a>
                      </h3>
                      <div class="right-arrow-btn">
                        <a href="javascript:void(0)"
                          ><span class="icon-right-arrow"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <p>
                      Our download centre contains items and forms that you may
                      require for our products and services. These items/forms
                      are to be utilized, along with the relevant documents for
                      processing.
                    </p>
                  </div>
                </div>
                <!--End Single Wealth Secure Box-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Wealth Secure Area-->

      <!--Start Money Exchange Rates Area-->
      <section class="money-exchange-value-area">
        <div
          class="money-exchange-value-area-bg"
          style="
            background-image: url(/home/images/backgrounds/money-exchange-value.jpg);
          "
        ></div>
        <div class="container">
          <div class="sec-title text-center">
            <h2>Foreign Exchange Rates</h2>
            <div class="sub-title">
              <p>Denouncing pleasure & praising pain was born.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="money-exchange-value-tab">
                <!--Start Money Exchange Value Tab Button-->
                <div class="money-exchange-value-tab__button">
                  <ul class="tabs-button-box">
                    <li
                      data-tab="#money-send-receive"
                      class="tab-btn-item active-btn-item"
                    >
                      <h3>Money Send & Receive</h3>
                    </li>
                    <li data-tab="#load-redeem-forex-card" class="tab-btn-item">
                      <h3>Load & Redeem Forex Card</h3>
                    </li>
                  </ul>
                  <div class="right">
                    <a href="/login"
                      ><span class="icon-menu"></span>Click to Get Assistant</a
                    >
                  </div>
                </div>
                <!--End Money Exchange Value Tab Button-->

                <!--Start Tabs Content Box-->
                <div class="tabs-content-box">
                  <!--Tab-->
                  <div
                    class="tab-content-box-item tab-content-box-item-active"
                    id="money-send-receive"
                  >
                    <div class="money-exchange-value-tab-content-box-item">
                      <div class="row">
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-1.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>usd</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>1.00</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>1.00</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-2.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>sek</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>10.37</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>11.89</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-3.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>gbp</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>0.82</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>0.92</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-4.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>jpy</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>136.82</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>152.57</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-5.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>aud</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>1.49</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>1.50</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-6.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>cad</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>1.36</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>1.40</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                      </div>
                    </div>
                  </div>

                  <!--Tab-->
                  <div class="tab-content-box-item" id="load-redeem-forex-card">
                    <div class="money-exchange-value-tab-content-box-item">
                      <div class="row">
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-4.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>jpy</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>62.82</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>58.46</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-5.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>aud</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>57.52</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>54.21</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-6.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>cad</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>63.41</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>59.75</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-1.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>usd</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>79.89</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>76.54</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-2.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>sek</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>8.20</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>7.25</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                        <!--Start Single Money Exchange Value-->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                          <div class="single-money-exchange-value">
                            <div class="flag-box">
                              <div class="flag-box-inner">
                                <img
                                  src="/home/images/resources/flag-3.png"
                                  alt=""
                                />
                              </div>
                            </div>
                            <h3>gbp</h3>
                            <ul>
                              <li>
                                <div class="left">
                                  <p>Send</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>101.88</p>
                                </div>
                              </li>
                              <li>
                                <div class="left">
                                  <p>Receive</p>
                                  <span>:</span>
                                </div>
                                <div class="right">
                                  <p>96.55</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--End Single Money Exchange Value-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Tabs Content Box-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Money Exchange Rates Area-->

      <!--Start Faq Style1 Area-->
      <%- include("includes/faq.ejs") %>
      <!--End Faq Style1 Area-->

      <!--Start Deals Area-->
      <section class="deals-area">
        <div class="auto-container">
          <div class="deals-content-box">
            <div
              class="owl-carousel owl-theme thm-owl__carousel deals-carousel-one owl-nav-style-one"
              data-owl-options='{
                        "loop": true,
                        "autoplay": true,
                        "margin": 50,
                        "nav": true,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                        "responsive": {
                                "0": {
                                    "items": 1
                                },
                                "768": {
                                    "items": 1
                                },
                                "992": {
                                    "items": 1
                                },
                                "1550": {
                                    "items": 1.4
                                }
                            }
                        }'
            >
              <!--Start Single Deals Box-->
              <div class="single-deals-box">
                <div class="text-box">
                  <div class="inner-title">
                    <h4>0% Installment Offers</h4>
                    <h2>Travel & Hotel Offers</h2>
                  </div>
                  <p>
                    Claims off duty or the obligations business it will
                    frequently occur that pleasures be repudiated.
                  </p>
                  <ul>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Spend<br />
                            Minimum 75 US Dollar
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Spend<br />
                            Minimum 50 US Dollar
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="btns-box">
                    <a class="btn-one" href="/login">
                      <span class="txt">Grab Your Deals</span>
                    </a>
                  </div>
                </div>
                <div class="img-box">
                  <div
                    class="img-bg"
                    style="
                      background-image: url(/home/images/resources/deals-1.jpg);
                    "
                  ></div>
                  <div class="shape-left-1"></div>
                  <div class="shape-right-1"></div>
                  <div class="shape-right-2"></div>
                </div>
              </div>
              <!--End Single Deals Box-->
              <!--Start Single Deals Box-->
              <div class="single-deals-box">
                <div class="text-box">
                  <div class="inner-title">
                    <h4>Get 10% Cashback</h4>
                    <h2>Buy a Mobile Phone</h2>
                  </div>
                  <p>
                    Claims off duty or the obligations business it will
                    frequently occur that pleasures be repudiated.
                  </p>
                  <ul>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Spend<br />
                            Minimum 40 US Dollar
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Not Valid for<br />
                            Commercial Credit Card
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="btns-box">
                    <a class="btn-one" href="/login">
                      <span class="txt">Grab Your Deals</span>
                    </a>
                  </div>
                </div>
                <div class="img-box">
                  <div
                    class="img-bg"
                    style="
                      background-image: url(/home/images/resources/deals-2.jpg);
                    "
                  ></div>
                  <div class="shape-left-1"></div>
                  <div class="shape-right-1"></div>
                  <div class="shape-right-2"></div>
                </div>
              </div>
              <!--End Single Deals Box-->

              <!--Start Single Deals Box-->
              <div class="single-deals-box">
                <div class="text-box">
                  <div class="inner-title">
                    <h4>0% Installment Offers</h4>
                    <h2>Travel & Hotel Offers</h2>
                  </div>
                  <p>
                    Claims off duty or the obligations business it will
                    frequently occur that pleasures be repudiated.
                  </p>
                  <ul>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Spend<br />
                            Minimum 75 US Dollar
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Spend<br />
                            Minimum 50 US Dollar
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="btns-box">
                    <a class="btn-one" href="/login">
                      <span class="txt">Grab Your Deals</span>
                    </a>
                  </div>
                </div>
                <div class="img-box">
                  <div
                    class="img-bg"
                    style="
                      background-image: url(/home/images/resources/deals-1.jpg);
                    "
                  ></div>
                  <div class="shape-left-1"></div>
                  <div class="shape-right-1"></div>
                  <div class="shape-right-2"></div>
                </div>
              </div>
              <!--End Single Deals Box-->
              <!--Start Single Deals Box-->
              <div class="single-deals-box">
                <div class="text-box">
                  <div class="inner-title">
                    <h4>Get 10% Cashback</h4>
                    <h2>Buy a Mobile Phone</h2>
                  </div>
                  <p>
                    Claims off duty or the obligations business it will
                    frequently occur that pleasures be repudiated.
                  </p>
                  <ul>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Spend<br />
                            Minimum 40 US Dollar
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="inner">
                        <div class="icon">
                          <span class="icon-checkbox-mark"></span>
                        </div>
                        <div class="text">
                          <p>
                            Not Valid for<br />
                            Commercial Credit Card
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="btns-box">
                    <a class="btn-one" href="/login">
                      <span class="txt">Grab Your Deals</span>
                    </a>
                  </div>
                </div>
                <div class="img-box">
                  <div
                    class="img-bg"
                    style="
                      background-image: url(/home/images/resources/deals-2.jpg);
                    "
                  ></div>
                  <div class="shape-left-1"></div>
                  <div class="shape-right-1"></div>
                  <div class="shape-right-2"></div>
                </div>
              </div>
              <!--End Single Deals Box-->
            </div>
          </div>
        </div>
      </section>
      <!--End Deals Area-->

      <!--Start EMI Calculator Area-->
      <section class="emi-calculator-area">
        <div class="container">
          <div class="sec-title text-center">
            <h2>Flexible EMI Calculator Online</h2>
            <div class="sub-title">
              <p>Easily calculate your equated monthly instalment online.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="emi-calculator-tab">
                <div class="emi-calculator-tab__button">
                  <div
                    class="emi-calculator-tab__button--bg"
                    style="
                      background-image: url(/home/images/resources/emi-calculator.jpg);
                    "
                  ></div>
                  <ul class="tabs-button-box">
                    <li
                      data-tab="#home-loan"
                      class="tab-btn-item active-btn-item"
                    >
                      <div class="icon-box">
                        <span class="icon-loan-1"></span>
                        <div class="overlay-text">
                          <p>Home Loan</p>
                        </div>
                      </div>
                    </li>
                    <li data-tab="#personal-loan" class="tab-btn-item">
                      <div class="icon-box">
                        <span class="icon-loan-2"></span>
                        <div class="overlay-text">
                          <p>Personal Loan</p>
                        </div>
                      </div>
                    </li>
                    <li data-tab="#vehicle-loan" class="tab-btn-item">
                      <div class="icon-box">
                        <span class="icon-car-loan"></span>
                        <div class="overlay-text">
                          <p>Vehicle Loan</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="emi-calculator-tab-content-box-outer">
                  <!--Start Tabs Content Box-->
                  <div class="tabs-content-box">
                    <!--Tab-->
                    <div
                      class="tab-content-box-item tab-content-box-item-active"
                      id="home-loan"
                    >
                      <div class="emi-calculator-tab-content-box-item">
                        <div class="range-box">
                          <div class="row">
                            <div class="col-lg-12 column">
                              <div class="price-range-box">
                                <div class="inner">
                                  <h4>Loan Amount</h4>
                                  <div class="price-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="property-amount"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>$50,000</h5>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 column">
                              <div class="loan-term-range-box">
                                <div class="inner">
                                  <h4>Loan Term <span>(Years)</span></h4>
                                  <div class="loan-term-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="loan-term-range"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>5Yrs</h5>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 column">
                              <div class="interest-rate-range-box">
                                <div class="inner">
                                  <h4>Interest Rate</h4>
                                  <div class="interest-rate-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="interest-rate-range"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>10%</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="emi-calculator-output-box clearfix">
                          <div class="left-box">
                            <div class="top">
                              <div class="icon">
                                <span class="icon-loan-3"></span>
                              </div>
                              <div class="inner-title">
                                <h3>Your Monthly EMI</h3>
                                <h2><span>$</span>1,250</h2>
                              </div>
                            </div>
                            <div class="btns-box">
                              <a class="btn-one" href="/register">
                                <span class="txt">Apply Online</span>
                              </a>
                            </div>
                          </div>
                          <div class="right-box">
                            <ul>
                              <li>
                                <div class="inner">
                                  <div class="icon">
                                    <span class="icon-right-arrow"></span>
                                  </div>
                                  <div class="text">
                                    <a href="javascript:void(0)"
                                      >Interest Amount</a
                                    >
                                    <p>$7,260</p>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="inner">
                                  <div class="icon">
                                    <span class="icon-right-arrow"></span>
                                  </div>
                                  <div class="text">
                                    <a href="javascript:void(0)"
                                      >Total Amount Payble</a
                                    >
                                    <p>$7,260</p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--Tab-->
                    <div class="tab-content-box-item" id="personal-loan">
                      <div class="emi-calculator-tab-content-box-item">
                        <div class="range-box">
                          <div class="row">
                            <div class="col-lg-12 column">
                              <div class="price-range-box">
                                <div class="inner">
                                  <h4>Loan Amount</h4>
                                  <div class="price-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="property-amount"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>$100,000</h5>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 column">
                              <div class="loan-term-range-box">
                                <div class="inner">
                                  <h4>Loan Term <span>(Years)</span></h4>
                                  <div class="loan-term-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="loan-term-range"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>10Yrs</h5>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 column">
                              <div class="interest-rate-range-box">
                                <div class="inner">
                                  <h4>Interest Rate</h4>
                                  <div class="interest-rate-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="interest-rate-range"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>8%</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="emi-calculator-output-box clearfix">
                          <div class="left-box">
                            <div class="top">
                              <div class="icon">
                                <span class="icon-loan-3"></span>
                              </div>
                              <div class="inner-title">
                                <h3>Your Monthly EMI</h3>
                                <h2><span>$</span>2,250</h2>
                              </div>
                            </div>
                            <div class="btns-box">
                              <a class="btn-one" href="#">
                                <span class="txt">Apply Online</span>
                              </a>
                            </div>
                          </div>
                          <div class="right-box">
                            <ul>
                              <li>
                                <div class="inner">
                                  <div class="icon">
                                    <span class="icon-right-arrow"></span>
                                  </div>
                                  <div class="text">
                                    <a href="javascript:void(0)"
                                      >Interest Amount</a
                                    >
                                    <p>$12,260</p>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="inner">
                                  <div class="icon">
                                    <span class="icon-right-arrow"></span>
                                  </div>
                                  <div class="text">
                                    <a href="javascript:void(0)"
                                      >Total Amount Payble</a
                                    >
                                    <p>$12,260</p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--Tab-->
                    <div class="tab-content-box-item" id="vehicle-loan">
                      <div class="emi-calculator-tab-content-box-item">
                        <div class="range-box">
                          <div class="row">
                            <div class="col-lg-12 column">
                              <div class="price-range-box">
                                <div class="inner">
                                  <h4>Loan Amount</h4>
                                  <div class="price-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="property-amount"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>$1,000,000</h5>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 column">
                              <div class="loan-term-range-box">
                                <div class="inner">
                                  <h4>Loan Term <span>(Years)</span></h4>
                                  <div class="loan-term-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="loan-term-range"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>20Yrs</h5>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 column">
                              <div class="interest-rate-range-box">
                                <div class="inner">
                                  <h4>Interest Rate</h4>
                                  <div class="interest-rate-range-slider"></div>
                                  <div class="range-input">
                                    <div class="input">
                                      <input
                                        type="text"
                                        class="interest-rate-range"
                                        name="field-name"
                                        readonly=""
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="right-box">
                                  <h5>8%</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="emi-calculator-output-box clearfix">
                          <div class="left-box">
                            <div class="top">
                              <div class="icon">
                                <span class="icon-loan-3"></span>
                              </div>
                              <div class="inner-title">
                                <h3>Your Monthly EMI</h3>
                                <h2><span>$</span>10,250</h2>
                              </div>
                            </div>
                            <div class="btns-box">
                              <a class="btn-one" href="#">
                                <span class="txt">Apply Online</span>
                              </a>
                            </div>
                          </div>
                          <div class="right-box">
                            <ul>
                              <li>
                                <div class="inner">
                                  <div class="icon">
                                    <span class="icon-right-arrow"></span>
                                  </div>
                                  <div class="text">
                                    <a href="#">Interest Amount</a>
                                    <p>$720,260</p>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="inner">
                                  <div class="icon">
                                    <span class="icon-right-arrow"></span>
                                  </div>
                                  <div class="text">
                                    <a href="#">Total Amount Payble</a>
                                    <p>$720,260</p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End Tabs Content Box-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End EMI Calculator Area-->

      <!--Start slogan area-->
      <section class="slogan-area">
        <div class="container">
          <div class="slogan-content-box">
            <div
              class="slogan-content-box-bg"
              style="
                background-image: url(/home/images/backgrounds/slogan-content-box-bg.jpg);
              "
            ></div>
            <div class="inner-title">
              <h2>Experience a New Digital World.</h2>
              <p>Mobile banking application with new & exciting features.</p>
            </div>
            <div class="get-app-box">
              <ul>
                <li>
                  <a href="/register">
                    <div class="icon">
                      <span class="icon-play-store"></span>
                    </div>
                    <div class="text">
                      <h4>Download</h4>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="style2" href="/register">
                    <div class="icon">
                      <span class="icon-apple"></span>
                    </div>
                    <div class="text">
                      <h4>Download</h4>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!--End slogan area-->

      <!--Start footer area -->
      <%- include("includes/footer.ejs") %>
      <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->
    <%- include("includes/bottom.ejs") %>
  </body>
</html>
