<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body class="custom-cursor">
    <%- include("../share/preloader.ejs") %>

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") %>

      <!--Page Header Start-->
      <section class="page-header">
        <div
          class="page-header__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/breadcrumb-area-bg-4.jpg);
          "
        ></div>
        <div class="page-header__shape-2 float-bob-x">
          <img
            src="/home/assets/images/shapes/page-header-shape-2.png"
            alt=""
          />
        </div>
        <div class="page-header__shape-1 float-bob-y">
          <img
            src="/home/assets/images/shapes/page-header-shape-1.png"
            alt=""
          />
        </div>
        <div class="page-header__shape-3 float-bob-x">
          <img
            src="/home/assets/images/shapes/page-header-shape-3.png"
            alt=""
          />
        </div>
        <div class="container">
          <div class="page-header__inner">
            <h2>Loans</h2>
            <div class="thm-breadcrumb__inner">
              <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li><span>/</span></li>
                <li>Loans</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!--Page Header End-->
      <!--Services Details Start-->
      <section class="services-details">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5">
              <div class="services-details__left">
                <div class="services-details__category">
                  <h3 class="services-details__category-title">Loan</h3>
                </div>
                <div class="services-details__need-help">
                  <div class="services-details__need-help-bg"></div>
                  <div class="services-details__need-help-shape-1 float-bob-x">
                    <img
                      src="/home/assets/images/shapes/need-help-shape-1.png"
                      alt=""
                    />
                  </div>
                  <div class="services-details__need-help-shape-2 float-bob-x">
                    <img
                      src="/home/assets/images/shapes/need-help-shape-2.png"
                      alt=""
                    />
                  </div>
                  <div class="services-details__need-help-shape-3 float-bob-y">
                    <img
                      src="/home/assets/images/shapes/need-help-shape-3.png"
                      alt=""
                    />
                  </div>
                  <div class="services-details__need-help-icon">
                    <span class="icon-consultant"></span>
                  </div>
                  <h3 class="services-details__need-help-title">
                    Looking <br />
                    for a Top <br />
                    Consulting?
                  </h3>
                  <div class="services-details__need-help-btn-box">
                    <a
                      href="/contact"
                      class="services-details__need-help-btn thm-btn"
                      >Contact Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8 col-lg-7">
              <div class="services-details__right">
                <div class="services-details__img">
                  <img
                    src="/home/assets/images/services/services-details-img-4.jpg"
                    alt=""
                  />
                  <div class="services-details__icon">
                    <span class="icon-insurance"></span>
                  </div>
                </div>
                <h3 class="services-details__title-1">Loans</h3>
                <p class="services-details__text-1">
                  You can explore the various lending options designed to meet
                  your financial needs. Whether you're looking to buy a home,
                  fund your education, start a business, or manage unexpected
                  expenses, we have a range of loan products to assist you in
                  achieving your goals. Learn more about our offerings and how
                  to apply for a loan below.
                </p>
                <div class="services-details__text-box">
                  <p class="services-details__text-box-text">
                    Secure a personal loan for a wide range of purposes, from
                    debt consolidation to home improvements.
                  </p>
                </div>
                <p class="services-details__text-2">
                  Unlock Your Financial Potential with Our Loans. Whether you're
                  dreaming of a new home, pursuing higher education, or need
                  extra cash flow, we're here to make it happen.
                </p>
                <div class="services-details__points">
                  <div class="row">
                    <div class="col-xl-6 col-md-6">
                      <div class="services-details__points-single">
                        <div class="icon">
                          <span class="icon-writer"></span>
                        </div>
                        <div class="content">
                          <h3>Business Solution</h3>
                          <p>
                            We offer competitive interest rates to keep your
                            loan affordable.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                      <div class="services-details__points-single">
                        <div class="icon">
                          <span class="icon-data-analysis"></span>
                        </div>
                        <div class="content">
                          <h3>Market Needs</h3>
                          <p>
                            Our team is dedicated to helping you find the right
                            loan for your needs.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="services-details__benefit">
                  <div class="row">
                    <div class="col-xl-6 col-md-6">
                      <div class="services-details__benefit-img">
                        <img
                          src="/home/assets/images/services/services-details-benefit-img.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                      <div class="services-details__benefit-content">
                        <h3 class="services-details__benefit-title">
                          Our Benefits
                        </h3>
                        <p class="services-details__benefit-text">
                          Our commitment to customer satisfaction sets us apart
                        </p>
                        <ul
                          class="services-details__benefit-points list-unstyled"
                        >
                          <li>
                            <div class="icon">
                              <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                              <p>Competitive Interest Rates</p>
                            </div>
                          </li>
                          <li>
                            <div class="icon">
                              <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                              <p>Personalized Service</p>
                            </div>
                          </li>
                          <li>
                            <div class="icon">
                              <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                              <p>Convenient Application Process</p>
                            </div>
                          </li>
                          <li>
                            <div class="icon">
                              <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                              <p>Fast Approval</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Services Details End-->

      <!--Site Footer Start-->
      <%- include("includes/footer.ejs") %>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <%- include("includes/bottom.ejs") %>
  </body>
</html>
