<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") -%>
  </head>

  <body>
    <!-- Start preloader -->
    <%- include("../share/preloader.ejs") -%>
    <!-- End preloader -->

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") -%>

      <!--Start breadcrumb area-->
      <section class="breadcrumb-area">
        <div
          class="breadcrumb-area-bg"
          style="
            background-image: url(/home/images/backgrounds/breadcrumb-area-bg.jpg);
          "
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="inner-content">
                <div
                  class="title"
                  data-aos="fade-right"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <h2>Privacy Policy</h2>
                </div>
                <div
                  class="breadcrumb-menu"
                  data-aos="fade-left"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">Privacy Policy</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End breadcrumb area-->

      <section class="testimonial-style2-area">
        <div class="container">
          <div class="sec-title">
            <div class="sub-title">
              <p>
                This Website Privacy Policy (“Policy”) applies to your
                interaction with Texas Heritage Bank (“Texas Heritage Bank,”
                “we,” “us,” “our”) at any online or mobile site or application
                that we own and control (collectively “website”) and describes
                how we may collect information from you when you visit our
                website or when you use our online financial services.
              </p>
              <p>
                By using our website, you consent to this Policy, including your
                consent to our use and disclosure of information about you in
                the manner described in this policy.
              </p>
              <p>
                We recognize the importance of the privacy and security of
                personal information.
              </p>
              <p>
                We think it is important for you to be informed of the policies,
                procedures, and security measures that we have in place to
                safeguard your personal and confidential information. With that
                in mind, we developed this Policy to help you to understand the
                steps we take to protect your personal information when you
                utilize our online financial services.
              </p>
              <p>
                Below are several definitions of terms used within this policy:
              </p>
              <p>
                Visitor Information - Visitor Information refers to personally
                identifiable information about a consumer, customer or former
                customer of the Texas Heritage Bank.
              </p>
              <p>
                Internet Protocol (IP) Address - an IP address is a unique
                address that devices use in order to identify and communicate
                with each other on a computer network. An IP address can be
                thought of as a street address or a phone number for a computer
                or other network device on the Internet. Just as each street
                address and phone number uniquely identifies a building or
                telephone, an IP address can uniquely identify a specific
                computer or other network device on a network. We may use IP
                addresses to monitor login activity and for identification
                purposes when necessary for security investigations.
              </p>
              <p>
                Cookie - a Cookie is a very small data file that is transferred
                to your device so that it can be identified later. Cookies are a
                basic way for a server to identify the device you happen to be
                using at the time. Cookies are used for many things from
                personalizing start up pages to facilitating online purchases.
                Cookies help sites recognize return visitors and they perform a
                variety of important functions. We may also use cookies to
                enable certain features of our website and to preserve your
                preferences and customize your experience when you visit and
                return to our website.
              </p>
              <p>
                Service Provider - We may use various third-party providers.
                These third parties provide services such as: website hosting,
                Internet banking, bill payment, and account aggregation. Third
                party providers are referred to within this policy as “Service
                Providers”.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">
              INFORMATION COLLECTED ON THE WEBSITE
            </h2>
            <div class="sub-title">
              <p>
                If you are just browsing through our website, we do not request
                any Visitor Information, nor do we collect unique identifying
                information about you unless you voluntarily and knowingly
                provide us that information, such as when you send us an email
                or complete an application online. If you provide us unique
                identifying information, it is only used internally and in
                furtherance of the purpose for which it was provided.
              </p>
              <p>
                Our Service Providers may use Cookies to collect some of the
                above information. In some cases, you must accept cookies in
                order to view our website. Note that most browsers provide
                controls whereby you can choose to block receipt of cookies,
                delete cookies, or be prompted before cookies are received by
                your device. Please note that the functionality of our website
                may be impaired if you delete or choose not to receive cookies
                from our website.
              </p>
              <p>
                When you click on advertisements in our website or
                advertisements on linked third-party websites, you may receive
                another Cookie; however, you do not have to accept any Cookies
                from third party advertisements.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">
              BEWARE OF PHISHING ATTEMPTS AND INTERNET SCAMS
            </h2>
            <div class="sub-title">
              <p>
                While email is convenient and has a good business use, it can
                also be misused by criminals for scams and various other
                fraudulent purposes. “Phishing emails” are frequently used by
                criminals to entice the recipient to visit a fraudulent website
                where they try to convince the recipient to provide personal
                information, such as ATM card numbers, account numbers, Social
                Security numbers, access Ids and passcodes. Some of these
                fraudulent websites may also be virus laden and can be used to
                download mal-ware to your device. Fraudulent websites often look
                identical to a legitimate site, so it’s important to look very
                closely at the website address.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">EXTERNAL THIRD PARTY LINKS</h2>
            <div class="sub-title">
              <p>
                Our website may include links to other third party websites.
                These links to external third parties are offered as a courtesy
                and a convenience to our Visitors. When you visit these sites,
                you will leave our website and will be redirected to another
                site.
              </p>
              <p>
                Texas Heritage Bank does not control linked third party
                websites. We are not an agent for these third parties nor do we
                endorse or guarantee their products. We make no representation
                or warranty regarding the accuracy of the information contained
                in linked sites. We suggest that you always verify the
                information obtained from linked websites before acting upon
                this information. Also, please be aware that the security and
                privacy policies on these sites may be different from our
                policies, so please read third party privacy and security
                policies closely.
              </p>
              <p>
                If you have questions or concerns about the privacy policies and
                practices of linked 3rd parties, please review their websites
                and contact them directly. This privacy policy applies solely to
                the Visitor Information collected by us.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">ONLINE TRACKING AND ADVERTISING</h2>
            <div class="sub-title">
              <p>
                We and third parties may collect information about your online
                activities to provide you with advertising about services
                tailored to your interests. You may see certain ads on other
                websites because we engage third-party ad services (e.g.,
                Facebook, LinkedIn, Google). Through such ad services, we can
                retarget our messaging to users of our website and applications
                through interest-based and contextual means. These services
                track your online activities over time and across multiple
                websites by collecting information through automated means,
                including through the use of third-party cookies, web server
                logs and web beacons. The ad services use this information to
                show you ads that may be tailored to your individual interests.
                The information our ad services may collect on our behalf
                includes data about your visits to websites that serve our ads,
                such as the pages or ads you view and the actions you take on
                the websites. This data collection takes place both on our
                website and on third-party websites that participate in these ad
                services. This process also helps us track the effectiveness of
                our marketing efforts.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">SECURITY</h2>
            <div class="sub-title">
              <p>
                Texas Heritage Bank and our Service Providers have developed
                strict policies and procedures to safeguard your Visitor
                Information. Our policies require confidential treatment of your
                personal information. We restrict employee access to personal
                information on a "need to know" basis and we take appropriate
                disciplinary measures to enforce employee privacy and
                confidentiality responsibilities. We have established training
                programs to educate our employees about the importance of
                privacy and to help ensure compliance with our policy
                requirements.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">PRIVACY OF CHILDREN</h2>
            <div class="sub-title">
              <p>
                Our website is not intended for use by children under the age of
                <%= dataFile.minAge %>. The Children's Online Privacy Protection
                Act, protects children under the age of <%= dataFile.minAge %>
                from the collection of personal information on the Internet.
                Texas Heritage Bank respects the privacy of children. We do not
                knowingly collect names, emails addresses, or any other
                personally identifiable information from children. We do not
                knowingly market to children, nor do we allow children under <%=
                dataFile.minAge %> to open online accounts.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">VISITOR GENERATED CONTENT</h2>
            <div class="sub-title">
              <p>
                Our Website may allow Visitors to post messages and submit their
                own content (e.g., stories, comments, blogs, postings, tweets,
                etc.), which may include personal information. Any information
                you post, tweet or otherwise submit via the Website becomes
                public information and is not subject to this Policy. By posting
                or tweeting content, you agree that we may, at our discretion,
                use your real or social media user name and all or part of the
                content of your post or tweet (including all accompanying
                images) on our Website to promote our Institution, products and
                services for such time period as we wish. Institution is not
                responsible for the results of such postings.
              </p>
            </div>
          </div>

          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">
              PRIVACY UPDATES AND CHANGES TO THIS POLICY
            </h2>
            <div class="sub-title">
              <p>
                This Policy may be updated from time-to-time as new products and
                features may require changes to this Policy, or new legal
                requirements and guidelines may require changes to this Policy.
                Please check for any updated periodically. Information collected
                in connection with your use of our website after any changes to
                this Policy become effective will be handled in accordance with
                the revised Policy.
              </p>
            </div>
          </div>
          <div class="sec-title">
            <h2 class="tw-text-[2.5rem]">QUESTIONS</h2>
            <div class="sub-title">
              <p>
                If you have any questions about our privacy policy or concerns
                about our privacy practices, please contact us at <%=
                dataFile.phone %> or email to <%= dataFile.email %>. If you have
                any questions regarding our privacy standards, please contact us
                at <%= dataFile.phone %>.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!--Start footer area -->
      <%- include("includes/footer.ejs") %>
      <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->
    <%- include("includes/bottom.ejs") -%>
  </body>
</html>
