<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>

  <body class="custom-cursor">
    <%- include("../share/preloader.ejs") %>

    <div class="page-wrapper">
      <%- include("includes/navigation.ejs") %>

      <!--Page Header Start-->
      <section class="page-header">
        <div
          class="page-header__bg"
          style="
            background-image: url(/home/assets/images/backgrounds/breadcrumb-area-bg.jpg);
          "
        ></div>
        <div class="page-header__shape-2 float-bob-x">
          <img
            src="/home/assets/images/shapes/page-header-shape-2.png"
            alt=""
          />
        </div>
        <div class="page-header__shape-1 float-bob-y">
          <img
            src="/home/assets/images/shapes/page-header-shape-1.png"
            alt=""
          />
        </div>
        <div class="page-header__shape-3 float-bob-x">
          <img
            src="/home/assets/images/shapes/page-header-shape-3.png"
            alt=""
          />
        </div>
        <div class="container">
          <div class="page-header__inner">
            <h2>Testimonials</h2>
            <div class="thm-breadcrumb__inner">
              <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li><span>/</span></li>
                <li>Testimonials</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!--Page Header End-->

      <!--Testimonials Page Start-->
      <section class="testimonials-page">
        <div class="container">
          <div class="row">
            <!--Testimonial Two Single Start-->
            <div class="col-lg-6 col-md-6">
              <div class="testimonial-two__single">
                <div class="testimonial-two__shape-1">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-1.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-2">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-2.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-3">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-3.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-4">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-4.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__client-img-and-info">
                  <div class="testimonial-two__client-img">
                    <img
                      src="/home/assets/images/testimonial/testimonial-2-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-two__client-info">
                    <h3><a href="javascript:(0)">Mike Hardson</a></h3>
                    <p>Los Angeles</p>
                  </div>
                </div>
                <p class="testimonial-two__text">
                  The entire staff at <%= dataFile.name %> has been incredibly
                  supportive of Geneva. They care deeply for the work of our
                  school and the good of the community. Their support goes
                  beyond banking and includes support and encouragement to our
                  faculty, our board and school leadership.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-lg-6 col-md-6">
              <div class="testimonial-two__single">
                <div class="testimonial-two__shape-1">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-1.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-2">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-2.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-3">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-3.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-4">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-4.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__client-img-and-info">
                  <div class="testimonial-two__client-img">
                    <img
                      src="/home/assets/images/testimonial/testimonial-2-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-two__client-info">
                    <h3><a href="javascript:(0)">Sarah Albert</a></h3>
                    <p>California</p>
                  </div>
                </div>
                <p class="testimonial-two__text">
                  Banking with <%= dataFile.name %> is like working with a
                  trusted and valued friend. Since they're locally owned and
                  operated they provide a much more personalized level of
                  service, than other regional banks.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-lg-6 col-md-6">
              <div class="testimonial-two__single">
                <div class="testimonial-two__shape-1">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-1.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-2">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-2.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-3">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-3.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-4">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-4.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__client-img-and-info">
                  <div class="testimonial-two__client-img">
                    <img
                      src="/home/assets/images/testimonial/testimonial-2-3.jpg"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-two__client-info">
                    <h3><a href="javascript:(0)">Christine Eve</a></h3>
                    <p>Newyork</p>
                  </div>
                </div>
                <p class="testimonial-two__text">
                  <%= dataFile.name %> and my personal relationship with them,
                  remind me of the way I saw my dad do business. When I walk
                  into the branch, I'm greeted by name, and asked how I can be
                  helped. It's no accident. <%= dataFile.name %> exhibits
                  sincere customer care at every level of the organization.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-lg-6 col-md-6">
              <div class="testimonial-two__single">
                <div class="testimonial-two__shape-1">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-1.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-2">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-2.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-3">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-3.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-4">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-4.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__client-img-and-info">
                  <div class="testimonial-two__client-img">
                    <img
                      src="/home/assets/images/testimonial/testimonial-2-4.jpg"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-two__client-info">
                    <h3><a href="javascript:(0)">Michale Robert</a></h3>
                    <p>California</p>
                  </div>
                </div>
                <p class="testimonial-two__text">
                  <%= dataFile.name %> has been outstanding in the services they
                  have provided me. I have utilized their services for over a
                  year while mobilized for the Army Reserve. They are very
                  responsive to communications as well as follow through, and
                  have made my baking experiences painless. The staff is
                  friendly and go out of their way to ensure everything is done
                  right the first time. Thanks :)
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-lg-6 col-md-6">
              <div class="testimonial-two__single">
                <div class="testimonial-two__shape-1">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-1.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-2">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-2.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-3">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-3.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-4">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-4.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__client-img-and-info">
                  <div class="testimonial-two__client-img">
                    <img
                      src="/home/assets/images/testimonial/testimonial-2-5.jpg"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-two__client-info">
                    <h3><a href="javascript:(0)">David Hobes</a></h3>
                    <p>California</p>
                  </div>
                </div>
                <p class="testimonial-two__text">
                  I have been a customer for over 5 years and I have always
                  received exceptional service! Whenever I have an issue, I
                  contact someone and I usually get my issue resolved within a
                  couple of minutes. Would recommend everyone use this service
                  as the people are always friendly and super helpful.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End-->
            <!--Testimonial Two Single Start-->
            <div class="col-lg-6 col-md-6">
              <div class="testimonial-two__single">
                <div class="testimonial-two__shape-1">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-1.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-2">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-2.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-3">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-3.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__shape-4">
                  <img
                    src="/home/assets/images/shapes/testimonial-two-shape-4.png"
                    alt=""
                  />
                </div>
                <div class="testimonial-two__client-img-and-info">
                  <div class="testimonial-two__client-img">
                    <img
                      src="/home/assets/images/testimonial/testimonial-2-6.jpg"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-two__client-info">
                    <h3><a href="javascript:(0)">Aleesha Brown</a></h3>
                    <p>Los Angeles</p>
                  </div>
                </div>
                <p class="testimonial-two__text">
                  super and excellent i would recommend everyone to use this
                  service as the people are always friendly and super helpful.
                </p>
              </div>
            </div>
            <!--Testimonial Two Single End-->
          </div>
        </div>
      </section>
      <!--Testimonials Page End-->

      <!--Site Footer Start-->
      <%- include("includes/footer.ejs") %>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <%- include("includes/bottom.ejs") %>
  </body>
</html>
