<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="color-scheme" content="only light" />
<title>
  <%= dataFile.name %> - Banking, Credit Cards, Loans and Merrill Investing
</title>
<meta
  name="description"
  content="What would you like the power to do? For you and your family, your business and your community. At <%= dataFile.name %>, our purpose is to help make financial lives better through the power of every connection."
/>
<meta
  name="keywords"
  content="bank, banks, banking, finance, finances, financial, financial institution, financial planning, personal finance, personal finances, financial management"
/>
<link rel="canonical" href="<%= dataFile.url %>" />
<meta
  property="og:title"
  content="<%= dataFile.name %> - Banking, Credit Cards, Loans and Merrill Investing"
/>
<meta
  property="og:description"
  content="What would you like the power to do? For you and your family, your business and your community. At <%= dataFile.name %>, our purpose is to help make financial lives better through the power of every connection."
/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="<%= dataFile.name %>" />
<meta property="og:url" content="<%= dataFile.url %>" />
<meta
  property="og:image"
  content="<%= dataFile.url %>/share/meta/thumbnail.jpg"
/>
<meta
  property="og:image:alt"
  content="<%= dataFile.name %> - Banking, Credit Cards, Loans and Merrill Investing"
/>
<meta
  name="twitter:title"
  content="<%= dataFile.name %> - Banking, Credit Cards, Loans and Merrill Investing"
/>
<meta
  name="twitter:description"
  content="What would you like the power to do? For you and your family, your business and your community. At <%= dataFile.name %>, our purpose is to help make financial lives better through the power of every connection."
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@" />
<meta name="twitter:url" content="<%= dataFile.url %>" />
<meta
  name="twitter:image"
  content="<%= dataFile.url %>/share/meta/thumbnail.jpg"
/>
<meta
  name="twitter:image:alt"
  content="<%= dataFile.name %> - Banking, Credit Cards, Loans and Merrill Investing"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="<%= dataFile.url %>/share/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="<%= dataFile.url %>/share/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="<%= dataFile.url %>/share/favicon/favicon-16x16.png"
/>
<link
  rel="manifest"
  href="<%= dataFile.url %>/share/favicon/site.webmanifest"
/>
